{
  "openapi": "3.0.0",
  "info": {
    "title": "OVHcloud API specification",
    "description": "Specification for OVHcloud API",
    "version": "1.0",
    "contact": {
      "name": "OVH",
      "email": "api@ml.ovh.net"
    }
  },
  "servers": [
    {
      "url": "https://eu.api.ovh.com/v1"
    }
  ],
  "components": {
    "schemas": {
      "any": {
        "description": "Can be anything (text, int, bool, json, html, etc.)",
        "example": "This is a content of any type !"
      },
      "dnssec.DnssecStatusEnum": {
        "type": "string",
        "description": "Dnssec Status",
        "enum": [
          "disableInProgress",
          "disabled",
          "enableInProgress",
          "enabled"
        ]
      },
      "dnssec.Key": {
        "type": "object",
        "description": "Domain's DNSSEC Key",
        "properties": {
          "algorithm": {
            "allOf": [
              {
                "$ref": "#/components/schemas/dnssec.KeyAlgorithmEnum"
              }
            ],
            "description": "Algorithm number of the DNSSEC key"
          },
          "flags": {
            "allOf": [
              {
                "$ref": "#/components/schemas/dnssec.KeyFlagEnum"
              }
            ],
            "description": "Flag of the DNSSEC key"
          },
          "id": {
            "type": "integer",
            "description": "ID of the DNSSEC key",
            "readOnly": true
          },
          "publicKey": {
            "type": "string",
            "description": "Public key"
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/dnssec.KeyStatusEnum"
              }
            ],
            "description": "Key status of the DNSSEC key",
            "readOnly": true
          },
          "tag": {
            "type": "integer",
            "description": "Tag of the DNSSEC key"
          }
        }
      },
      "dnssec.KeyAlgorithmEnum": {
        "type": "integer",
        "description": "DNSSEC Algorithm\n5: RSASHA1\n7: RSASHA1-NSEC3-SHA1\n8: RSASHA256\n10: RSASHA512\n13: ECDSAP256SHA256\n14: ECDSAP384SHA384\n15: ED25519",
        "enum": [
          5,
          7,
          8,
          10,
          13,
          14,
          15
        ]
      },
      "dnssec.KeyFlagEnum": {
        "type": "integer",
        "description": "DNSSEC Key Flag Type: 256=ZSK (Zone Signing Key), 257=KSK (Key Signing Key)",
        "enum": [
          256,
          257
        ]
      },
      "dnssec.KeyStatusEnum": {
        "type": "string",
        "description": "Generated: The key has been created, but has not yet been used for anything.\nPublished: The DNSKEY record is published in the zone, but predecessors of the key may be held in caches.\nReady: The new key data has been published for long enough to guarantee that any previous versions of the DNSKEY RRset have expired from caches.\nActive: The key has started to be used to sign RRsets.\nRetired: A successor key has become active and this key is no longer being used to generate RRSIGs.\nRemoved: The key has been removed from the zone.\nRevoked: The key is published for a period with the \"revoke\" bit set as a way of notifying validating resolvers that have configured it as an trust anchor that it is about to be removed from the zone.",
        "enum": [
          "active",
          "generated",
          "published",
          "removed",
          "retired",
          "revoked"
        ]
      },
      "dnssec.UpdatePayload": {
        "type": "object",
        "description": "Payload used to update the DNSSEC keys of a domain name",
        "properties": {
          "keys": {
            "type": "array",
            "description": "New Keys",
            "items": {
              "$ref": "#/components/schemas/dnssec.Key"
            }
          }
        },
        "required": [
          "keys"
        ]
      },
      "domain.ActionEnum": {
        "type": "string",
        "description": "An action to execute on a domain name",
        "enum": [
          "create",
          "trade",
          "transfer",
          "update"
        ]
      },
      "domain.ApproveTypeEnum": {
        "type": "string",
        "description": "Type of claim notice",
        "enum": [
          "accept",
          "reject"
        ]
      },
      "domain.Contact": {
        "type": "object",
        "description": "A contact contains the personal data of a user",
        "properties": {
          "accreditationCountry": {
            "allOf": [
              {
                "$ref": "#/components/schemas/nichandle.CountryEnum"
              }
            ],
            "description": "Country of lawyer accreditation",
            "nullable": true
          },
          "accreditationId": {
            "type": "string",
            "description": "Lawyer accreditation number",
            "nullable": true
          },
          "accreditationOrganism": {
            "type": "string",
            "description": "Organism of lawyer accreditation",
            "nullable": true
          },
          "accreditationYear": {
            "type": "integer",
            "description": "Year of lawyer accreditation",
            "nullable": true
          },
          "address": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ContactAddress"
              }
            ],
            "description": "The address of the contact",
            "nullable": true
          },
          "birthCity": {
            "type": "string",
            "description": "City of birth",
            "nullable": true
          },
          "birthCountry": {
            "allOf": [
              {
                "$ref": "#/components/schemas/nichandle.CountryEnum"
              }
            ],
            "description": "Birth Country",
            "nullable": true
          },
          "birthDay": {
            "type": "string",
            "description": "Birth date",
            "nullable": true,
            "format": "date"
          },
          "birthZip": {
            "type": "string",
            "description": "Birth Zipcode",
            "nullable": true
          },
          "cellPhone": {
            "allOf": [
              {
                "$ref": "#/components/schemas/phoneNumber"
              }
            ],
            "description": "Cellphone number",
            "nullable": true
          },
          "companyNationalIdentificationNumber": {
            "type": "string",
            "description": "Company National Identification Number",
            "nullable": true
          },
          "email": {
            "type": "string",
            "description": "Email address",
            "nullable": true
          },
          "enterpriseId": {
            "type": "string",
            "description": "Enterprise identifier",
            "nullable": true
          },
          "fax": {
            "type": "string",
            "description": "Fax number",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "description": "First name",
            "nullable": true
          },
          "gender": {
            "allOf": [
              {
                "$ref": "#/components/schemas/nichandle.GenderEnum"
              }
            ],
            "description": "Gender",
            "nullable": true
          },
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "readOnly": true
          },
          "insee": {
            "type": "string",
            "description": "INSEE identifier",
            "nullable": true
          },
          "language": {
            "allOf": [
              {
                "$ref": "#/components/schemas/nichandle.LanguageEnum"
              }
            ],
            "description": "Language",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "description": "Last name",
            "nullable": true
          },
          "legalForm": {
            "allOf": [
              {
                "$ref": "#/components/schemas/nichandle.LegalFormEnum"
              }
            ],
            "nullable": true
          },
          "legalFormCategory": {
            "type": "string",
            "description": "category of legalForm",
            "nullable": true
          },
          "nationalIdentificationNumber": {
            "type": "string",
            "description": "National Identification Number",
            "nullable": true
          },
          "nationality": {
            "allOf": [
              {
                "$ref": "#/components/schemas/nichandle.CountryEnum"
              }
            ],
            "description": "Nationality",
            "nullable": true
          },
          "organisationAccountable": {
            "type": "string",
            "description": "To whom is the organisation accountable",
            "nullable": true
          },
          "organisationFunding": {
            "type": "string",
            "description": "What is the source of funding",
            "nullable": true
          },
          "organisationFundingOther": {
            "type": "string",
            "description": "Explain the source of funding if organisationFunding is other",
            "nullable": true
          },
          "organisationName": {
            "type": "string",
            "description": "Name of organisation",
            "nullable": true
          },
          "organisationRole": {
            "type": "string",
            "description": "Role of your organisation",
            "nullable": true
          },
          "organisationRoleOther": {
            "type": "string",
            "description": "Explain the role of your organisation if organisationRole is other",
            "nullable": true
          },
          "organisationStaffStatus": {
            "type": "string",
            "description": "Status of the staff",
            "nullable": true
          },
          "organisationStaffStatusOther": {
            "type": "string",
            "description": "Explain the status of the staff if organisationStaffStatus is other",
            "nullable": true
          },
          "organisationType": {
            "type": "string",
            "description": "type of organisation",
            "nullable": true
          },
          "organisationTypeOther": {
            "type": "string",
            "description": "Explain the type of organisation if organisationType is other",
            "nullable": true
          },
          "phone": {
            "allOf": [
              {
                "$ref": "#/components/schemas/phoneNumber"
              }
            ],
            "description": "Phone number",
            "nullable": true
          },
          "registrantDocumentType": {
            "type": "string",
            "description": "Type of registrant document",
            "nullable": true
          },
          "registrantDocumentTypeOther": {
            "type": "string",
            "description": "Explain the type of registrant document if registrantDocumentType is other",
            "nullable": true
          },
          "roleInOrganisation": {
            "type": "string",
            "description": "The role in the organisation",
            "nullable": true
          },
          "trademarkId": {
            "type": "string",
            "description": "Trademark related to the contact",
            "nullable": true
          },
          "vat": {
            "type": "string",
            "description": "VAT number",
            "nullable": true
          },
          "website": {
            "type": "string",
            "description": "Website",
            "nullable": true
          }
        }
      },
      "domain.ContactAddress": {
        "type": "object",
        "description": "Missing description",
        "properties": {
          "city": {
            "type": "string",
            "description": "City",
            "nullable": true
          },
          "country": {
            "allOf": [
              {
                "$ref": "#/components/schemas/nichandle.CountryEnum"
              }
            ],
            "description": "Country",
            "nullable": true
          },
          "line1": {
            "type": "string",
            "description": "Address line 1",
            "nullable": true
          },
          "line2": {
            "type": "string",
            "description": "Address line 2",
            "nullable": true
          },
          "line3": {
            "type": "string",
            "description": "Address line 3",
            "nullable": true
          },
          "otherDetails": {
            "type": "string",
            "description": "Others details",
            "nullable": true
          },
          "province": {
            "type": "string",
            "description": "Province",
            "nullable": true
          },
          "zip": {
            "type": "string",
            "description": "Zip code",
            "nullable": true
          }
        }
      },
      "domain.ContactSummary": {
        "type": "object",
        "description": "A contact summary contains the personal data of a user",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique contact identifier (contact data can be edited via /me/contact/<ID>)",
            "readOnly": true
          }
        }
      },
      "domain.Data": {
        "type": "object",
        "description": "A domain data",
        "properties": {
          "audience": {
            "type": "string",
            "description": "Domain name audience",
            "nullable": true
          },
          "authInfo": {
            "type": "string",
            "description": "Auth Info",
            "nullable": true,
            "format": "password"
          },
          "isFor": {
            "type": "array",
            "description": "Purposes of the domain",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/domain.IsForEnum"
            }
          },
          "otherPurpose": {
            "type": "string",
            "description": "Domain name other purpose",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "description": "Reason of the purchase of this domain",
            "nullable": true
          },
          "represent": {
            "type": "string",
            "description": "Represented company",
            "nullable": true
          }
        }
      },
      "domain.DnssecStateEnum": {
        "type": "string",
        "description": "Domain dnssec state",
        "enum": [
          "disabled",
          "enabled",
          "not_supported"
        ]
      },
      "domain.DnssecStatusEnum": {
        "type": "string",
        "description": "All DNSSEC statuses",
        "enum": [
          "disableInProgress",
          "disabled",
          "enableInProgress",
          "enabled"
        ]
      },
      "domain.DomainOptionEnum": {
        "type": "string",
        "description": "All options a domain can have",
        "enum": [
          "dnsAnycast"
        ]
      },
      "domain.DomainOptionStateEnum": {
        "type": "string",
        "description": "All states a domain Option can be in",
        "enum": [
          "released",
          "subscribed"
        ]
      },
      "domain.DomainService": {
        "type": "object",
        "description": "General information about a domain name service",
        "properties": {
          "contactAdmin": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ContactSummary"
              }
            ],
            "description": "Administrative contact data",
            "readOnly": true
          },
          "contactBilling": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ContactSummary"
              }
            ],
            "description": "Billing contact data",
            "readOnly": true
          },
          "contactOwner": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ContactSummary"
              }
            ],
            "description": "Owner (registrant) contact data",
            "readOnly": true
          },
          "contactTech": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ContactSummary"
              }
            ],
            "description": "Technical contact data",
            "readOnly": true
          },
          "dnssecState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DnssecStateEnum"
              }
            ],
            "description": "Current DNSSEC state of the domain name",
            "readOnly": true
          },
          "dnssecSupported": {
            "type": "boolean",
            "description": "Whether DNSSEC is activated for this domain name",
            "readOnly": true
          },
          "domain": {
            "type": "string",
            "description": "Domain name",
            "readOnly": true
          },
          "expirationDate": {
            "type": "string",
            "description": "Date when the domain name will expire, if not renewed",
            "format": "date-time",
            "readOnly": true
          },
          "glueRecordIpv6Supported": {
            "type": "boolean",
            "description": "Whether the registry supports IPv6 glue records",
            "readOnly": true
          },
          "glueRecordMultiIpSupported": {
            "type": "boolean",
            "description": "Whether the registry supports multi-ip glue records",
            "readOnly": true
          },
          "hostSupported": {
            "type": "boolean",
            "description": "Whether the registry supports hosts as independent entities",
            "readOnly": true
          },
          "lastUpdate": {
            "type": "string",
            "description": "Last update date",
            "format": "date-time",
            "readOnly": true
          },
          "nameServerType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.nameServer.NameServerTypeEnum"
              }
            ],
            "description": "Name servers type"
          },
          "nameServers": {
            "type": "array",
            "description": "Name servers list",
            "items": {
              "$ref": "#/components/schemas/domain.nameServer.NameServer"
            },
            "readOnly": true
          },
          "offer": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.OfferEnum"
              }
            ],
            "description": "Offer associated with the domain name",
            "readOnly": true
          },
          "owoSupported": {
            "type": "boolean",
            "description": "Whether Whois data obfuscation is supported for this domain name",
            "readOnly": true
          },
          "parentService": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ParentService"
              }
            ],
            "description": "Parent service",
            "nullable": true,
            "readOnly": true
          },
          "renewalDate": {
            "type": "string",
            "description": "Date when the domain name should be renewed (relevant if renewalState is automatic_renew)",
            "format": "date-time",
            "readOnly": true
          },
          "renewalState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.RenewalStateEnum"
              }
            ],
            "description": "Current renewal state of the domain name",
            "readOnly": true
          },
          "serviceId": {
            "type": "integer",
            "description": "Technical service identifier",
            "readOnly": true
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DomainStateEnum"
              }
            ],
            "description": "Current state of the domain name",
            "readOnly": true
          },
          "suspensionState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.SuspensionStateEnum"
              }
            ],
            "description": "Current suspension state of the domain name",
            "readOnly": true
          },
          "transferLockStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.LockStatusEnum"
              }
            ],
            "description": "Current transfer lock status of the domain name"
          },
          "whoisOwner": {
            "type": "string",
            "description": "Owner (registrant) contact ID (contact data can be edited via /me/contact/<ID>)",
            "readOnly": true
          }
        }
      },
      "domain.DomainServiceWithIAM": {
        "type": "object",
        "description": "General information about a domain name service",
        "properties": {
          "contactAdmin": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ContactSummary"
              }
            ],
            "description": "Administrative contact data",
            "readOnly": true
          },
          "contactBilling": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ContactSummary"
              }
            ],
            "description": "Billing contact data",
            "readOnly": true
          },
          "contactOwner": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ContactSummary"
              }
            ],
            "description": "Owner (registrant) contact data",
            "readOnly": true
          },
          "contactTech": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ContactSummary"
              }
            ],
            "description": "Technical contact data",
            "readOnly": true
          },
          "dnssecState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DnssecStateEnum"
              }
            ],
            "description": "Current DNSSEC state of the domain name",
            "readOnly": true
          },
          "dnssecSupported": {
            "type": "boolean",
            "description": "Whether DNSSEC is activated for this domain name",
            "readOnly": true
          },
          "domain": {
            "type": "string",
            "description": "Domain name",
            "readOnly": true
          },
          "expirationDate": {
            "type": "string",
            "description": "Date when the domain name will expire, if not renewed",
            "format": "date-time",
            "readOnly": true
          },
          "glueRecordIpv6Supported": {
            "type": "boolean",
            "description": "Whether the registry supports IPv6 glue records",
            "readOnly": true
          },
          "glueRecordMultiIpSupported": {
            "type": "boolean",
            "description": "Whether the registry supports multi-ip glue records",
            "readOnly": true
          },
          "hostSupported": {
            "type": "boolean",
            "description": "Whether the registry supports hosts as independent entities",
            "readOnly": true
          },
          "iam": {
            "allOf": [
              {
                "$ref": "#/components/schemas/iam.ResourceMetadata"
              }
            ],
            "description": "IAM resource metadata",
            "nullable": true,
            "readOnly": true
          },
          "lastUpdate": {
            "type": "string",
            "description": "Last update date",
            "format": "date-time",
            "readOnly": true
          },
          "nameServerType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.nameServer.NameServerTypeEnum"
              }
            ],
            "description": "Name servers type"
          },
          "nameServers": {
            "type": "array",
            "description": "Name servers list",
            "items": {
              "$ref": "#/components/schemas/domain.nameServer.NameServer"
            },
            "readOnly": true
          },
          "offer": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.OfferEnum"
              }
            ],
            "description": "Offer associated with the domain name",
            "readOnly": true
          },
          "owoSupported": {
            "type": "boolean",
            "description": "Whether Whois data obfuscation is supported for this domain name",
            "readOnly": true
          },
          "parentService": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ParentService"
              }
            ],
            "description": "Parent service",
            "nullable": true,
            "readOnly": true
          },
          "renewalDate": {
            "type": "string",
            "description": "Date when the domain name should be renewed (relevant if renewalState is automatic_renew)",
            "format": "date-time",
            "readOnly": true
          },
          "renewalState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.RenewalStateEnum"
              }
            ],
            "description": "Current renewal state of the domain name",
            "readOnly": true
          },
          "serviceId": {
            "type": "integer",
            "description": "Technical service identifier",
            "readOnly": true
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DomainStateEnum"
              }
            ],
            "description": "Current state of the domain name",
            "readOnly": true
          },
          "suspensionState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.SuspensionStateEnum"
              }
            ],
            "description": "Current suspension state of the domain name",
            "readOnly": true
          },
          "transferLockStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.LockStatusEnum"
              }
            ],
            "description": "Current transfer lock status of the domain name"
          },
          "whoisOwner": {
            "type": "string",
            "description": "Owner (registrant) contact ID (contact data can be edited via /me/contact/<ID>)",
            "readOnly": true
          }
        }
      },
      "domain.DomainStateEnum": {
        "type": "string",
        "description": "Domain name current state",
        "enum": [
          "autorenew_in_progress",
          "autorenew_registry_in_progress",
          "deleted",
          "dispute",
          "expired",
          "ok",
          "outgoing_transfer",
          "pending_create",
          "pending_delete",
          "pending_incoming_transfer",
          "pending_installation",
          "registry_suspended",
          "restorable",
          "technical_suspended"
        ]
      },
      "domain.IsForEnum": {
        "type": "string",
        "description": "Possible purposes of the domain",
        "enum": [
          "campaign_website",
          "educational_website",
          "emails",
          "information_website",
          "other_purpose",
          "redirect_page",
          "transactional_website"
        ]
      },
      "domain.LockStatusEnum": {
        "type": "string",
        "description": "Domain lock status",
        "enum": [
          "locked",
          "locking",
          "unavailable",
          "unlocked",
          "unlocking"
        ]
      },
      "domain.OfferEnum": {
        "type": "string",
        "description": "Offer",
        "enum": [
          "diamond",
          "gold",
          "platinum"
        ]
      },
      "domain.OperationStatusEnum": {
        "type": "string",
        "description": "Operation status",
        "enum": [
          "cancelled",
          "doing",
          "done",
          "error",
          "problem",
          "todo"
        ]
      },
      "domain.OperationTypeEnum": {
        "type": "string",
        "description": "Operation type",
        "enum": [
          "alldom",
          "domain"
        ]
      },
      "domain.OptinFieldsEnum": {
        "type": "string",
        "description": "Whois optin fields",
        "enum": [
          "address",
          "city",
          "country",
          "email",
          "fax",
          "name",
          "organisation",
          "phone",
          "province",
          "zip"
        ]
      },
      "domain.Option": {
        "type": "object",
        "description": "Information about the options of a domain",
        "properties": {
          "expirationDate": {
            "type": "string",
            "description": "Expiration date of the option",
            "format": "date-time",
            "readOnly": true
          },
          "option": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DomainOptionEnum"
              }
            ],
            "description": "The option name",
            "readOnly": true
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DomainOptionStateEnum"
              }
            ],
            "description": "The state of the option",
            "readOnly": true
          }
        }
      },
      "domain.ParentService": {
        "type": "object",
        "description": "Parent service",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the parent service",
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ParentServiceTypeEnum"
              }
            ],
            "description": "Type of the parent service",
            "readOnly": true
          }
        }
      },
      "domain.ParentServiceTypeEnum": {
        "type": "string",
        "description": "Parent service type enum",
        "enum": [
          "/allDom"
        ]
      },
      "domain.RenewalStateEnum": {
        "type": "string",
        "description": "Domain renewal state",
        "enum": [
          "automatic_renew",
          "cancellation_complete",
          "cancellation_requested",
          "manual_renew",
          "unpaid"
        ]
      },
      "domain.ServiceOption": {
        "type": "object",
        "description": "Data of a domain option",
        "properties": {
          "serviceName": {
            "type": "string",
            "description": "Service name of the option",
            "readOnly": true
          }
        }
      },
      "domain.ServiceOptions": {
        "type": "object",
        "description": "Representation of the domain options",
        "properties": {
          "hosting": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ServiceOption"
              }
            ],
            "description": "Hosting option",
            "nullable": true,
            "readOnly": true
          },
          "offer": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ServiceOption"
              }
            ],
            "description": "Offer option (Diamond, Platinum)",
            "nullable": true,
            "readOnly": true
          },
          "zone": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ServiceOption"
              }
            ],
            "description": "DNS zone option",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "domain.SuspensionStateEnum": {
        "type": "string",
        "description": "Domain suspension state",
        "enum": [
          "not_suspended",
          "suspended"
        ]
      },
      "domain.Task": {
        "type": "object",
        "description": "Tasks associated to domain",
        "properties": {
          "canAccelerate": {
            "type": "boolean",
            "description": "Can accelerate the task",
            "readOnly": true
          },
          "canCancel": {
            "type": "boolean",
            "description": "Can cancel the task",
            "readOnly": true
          },
          "canRelaunch": {
            "type": "boolean",
            "description": "Can relaunch the task",
            "readOnly": true
          },
          "comment": {
            "type": "string",
            "description": "Comment about the task",
            "nullable": true,
            "readOnly": true
          },
          "creationDate": {
            "type": "string",
            "description": "Creation date of the task",
            "format": "date-time",
            "readOnly": true
          },
          "domain": {
            "type": "string",
            "description": "Domain of the task",
            "nullable": true,
            "readOnly": true
          },
          "doneDate": {
            "type": "string",
            "description": "Done date of the task",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          },
          "function": {
            "type": "string",
            "description": "Function of the task",
            "readOnly": true
          },
          "id": {
            "type": "integer",
            "description": "Id of the task",
            "readOnly": true
          },
          "lastUpdate": {
            "type": "string",
            "description": "Last update date of the task",
            "format": "date-time",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.OperationStatusEnum"
              }
            ],
            "description": "Status of the task",
            "readOnly": true
          },
          "todoDate": {
            "type": "string",
            "description": "Todo date of the task",
            "format": "date-time",
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.OperationTypeEnum"
              }
            ],
            "description": "type of the task",
            "readOnly": true
          }
        }
      },
      "domain.TaskFunctionEnum": {
        "type": "string",
        "description": "All functions from a dns task",
        "enum": [
          "DnsAnycastActivate",
          "DnsAnycastDeactivate",
          "DnssecDisable",
          "DnssecEnable",
          "DnssecResigning",
          "DnssecRollKsk",
          "DnssecRollZsk",
          "ZoneCreate",
          "ZoneCut",
          "ZoneDelete",
          "ZoneImport",
          "ZoneRestore"
        ]
      },
      "domain.TaskStatusEnum": {
        "type": "string",
        "description": "All statuses from a dns task",
        "enum": [
          "cancelled",
          "doing",
          "done",
          "error",
          "problem",
          "todo"
        ]
      },
      "domain.UkRegistrar": {
        "type": "object",
        "description": "Representation of a UK Registrar (used for outgoing transfer)",
        "properties": {
          "name": {
            "type": "string",
            "description": "Registrar name",
            "readOnly": true
          },
          "tag": {
            "type": "string",
            "description": "Registrar tag"
          }
        },
        "required": [
          "tag"
        ]
      },
      "domain.Zone": {
        "type": "object",
        "description": "DNS zone",
        "properties": {
          "dnssecActivated": {
            "type": "boolean",
            "description": "Is DNSSEC activated for this zone",
            "readOnly": true
          },
          "dnssecSupported": {
            "type": "boolean",
            "description": "Is DNSSEC supported by this zone",
            "readOnly": true
          },
          "hasDnsAnycast": {
            "type": "boolean",
            "description": "Whether the DNS zone has a DNS Anycast subscription",
            "readOnly": true
          },
          "lastUpdate": {
            "type": "string",
            "description": "Last update date of the DNS zone",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Zone name",
            "readOnly": true
          },
          "nameServers": {
            "type": "array",
            "description": "Name servers that host the DNS zone",
            "items": {
              "type": "string"
            },
            "readOnly": true
          }
        }
      },
      "domain.ZoneWithIAM": {
        "type": "object",
        "description": "DNS zone",
        "properties": {
          "dnssecActivated": {
            "type": "boolean",
            "description": "Is DNSSEC activated for this zone",
            "readOnly": true
          },
          "dnssecSupported": {
            "type": "boolean",
            "description": "Is DNSSEC supported by this zone",
            "readOnly": true
          },
          "hasDnsAnycast": {
            "type": "boolean",
            "description": "Whether the DNS zone has a DNS Anycast subscription",
            "readOnly": true
          },
          "iam": {
            "allOf": [
              {
                "$ref": "#/components/schemas/iam.ResourceMetadata"
              }
            ],
            "description": "IAM resource metadata",
            "nullable": true,
            "readOnly": true
          },
          "lastUpdate": {
            "type": "string",
            "description": "Last update date of the DNS zone",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Zone name",
            "readOnly": true
          },
          "nameServers": {
            "type": "array",
            "description": "Name servers that host the DNS zone",
            "items": {
              "type": "string"
            },
            "readOnly": true
          }
        }
      },
      "domain.configuration.rules.Constraint": {
        "type": "object",
        "description": "A configuration rule defines validation to launch when executing an action on a domain (create, trade...). Depending on the extension, the rule may be different",
        "properties": {
          "conditions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.configuration.rules.Rule"
              }
            ],
            "description": "Whether this constraint is applied or not",
            "nullable": true,
            "readOnly": true
          },
          "contexts": {
            "type": "array",
            "description": "The context on which the constraint applies",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/domain.configuration.rules.ContextEnum"
            },
            "readOnly": true
          },
          "operator": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.configuration.rules.OperatorEnum"
              }
            ],
            "description": "The operator of the constraint",
            "nullable": true,
            "readOnly": true
          },
          "value": {
            "type": "string",
            "description": "The value to match against",
            "nullable": true,
            "readOnly": true
          },
          "values": {
            "type": "array",
            "description": "The values to match against",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "readOnly": true
          }
        }
      },
      "domain.configuration.rules.ContextEnum": {
        "type": "string",
        "description": "Used in rule to tell if rule (or part of the rule) is applicable for a given context",
        "enum": [
          "accept_conditions",
          "claims",
          "create",
          "order",
          "premium",
          "protected_code",
          "reason",
          "trade",
          "transfer",
          "update"
        ]
      },
      "domain.configuration.rules.OperatorEnum": {
        "type": "string",
        "description": "Operator use in configuration rule to check content of a field",
        "enum": [
          "between",
          "contains",
          "empty",
          "eq",
          "gt",
          "gte",
          "lt",
          "lte",
          "match",
          "maxlength",
          "minlength",
          "ne",
          "notcontains",
          "notempty",
          "readonly",
          "required",
          "shouldbetrue"
        ]
      },
      "domain.configuration.rules.Rule": {
        "type": "object",
        "description": "A configuration rule defines validation to launch when executing an action on a domain (create, trade...). Depending on the extension, the rule may be different",
        "properties": {
          "and": {
            "type": "array",
            "description": "An \"and\" operator on multiple rules",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/domain.configuration.rules.Rule"
            },
            "readOnly": true
          },
          "conditions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.configuration.rules.Rule"
              }
            ],
            "description": "Whether this rule is applied or not",
            "nullable": true,
            "readOnly": true
          },
          "constraints": {
            "type": "array",
            "description": "The constraints of the rule",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/domain.configuration.rules.Constraint"
            },
            "readOnly": true
          },
          "contexts": {
            "type": "array",
            "description": "The context on which the rule applies",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/domain.configuration.rules.ContextEnum"
            },
            "readOnly": true
          },
          "description": {
            "type": "string",
            "description": "The description of the rule",
            "nullable": true,
            "readOnly": true
          },
          "fields": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.configuration.rules.Rule"
              }
            ],
            "description": "The fields with specific rules",
            "nullable": true,
            "readOnly": true
          },
          "label": {
            "type": "string",
            "description": "The label of the rule",
            "nullable": true,
            "readOnly": true
          },
          "or": {
            "type": "array",
            "description": "An \"or\" operator on multiple rules",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/domain.configuration.rules.Rule"
            },
            "readOnly": true
          },
          "placeholder": {
            "type": "string",
            "description": "The default value used for the rule",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.configuration.rules.TypeEnum"
              }
            ],
            "description": "The type of the object the rule applies on",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "domain.configuration.rules.RuleData": {
        "type": "object",
        "description": "A rule data contains the fields that must be validated against a rule",
        "properties": {
          "adminAccount": {
            "allOf": [
              {
                "$ref": "#/components/schemas/nichandle.Nichandle"
              }
            ],
            "description": "The admin contact data",
            "nullable": true
          },
          "domain": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.Data"
              }
            ],
            "description": "The domain data",
            "nullable": true
          },
          "extras": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.configuration.rules.RuleExtraData"
              }
            ],
            "description": "The extra data of the rule",
            "nullable": true
          },
          "owner": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.Contact"
              }
            ],
            "description": "The owner contact data",
            "nullable": true
          },
          "techAccount": {
            "allOf": [
              {
                "$ref": "#/components/schemas/nichandle.Nichandle"
              }
            ],
            "description": "The tech contact data",
            "nullable": true
          }
        }
      },
      "domain.configuration.rules.RuleExtraData": {
        "type": "object",
        "description": "The extra data contain additional rule data fields",
        "properties": {
          "acceptCondition": {
            "type": "boolean",
            "description": "Whether you accept the domain specific conditions or not",
            "nullable": true
          },
          "authInfo": {
            "type": "string",
            "description": "The auth info code for the domain",
            "nullable": true,
            "format": "password"
          }
        }
      },
      "domain.configuration.rules.TypeEnum": {
        "type": "string",
        "description": "Type of rule configuration",
        "enum": [
          "bool",
          "contact",
          "date_ISO8601",
          "domain",
          "json",
          "number",
          "string",
          "string[]",
          "text"
        ]
      },
      "domain.configurations.ContactTypeEnum": {
        "type": "string",
        "description": "The possible types of contacts associated to a domain name",
        "enum": [
          "admin",
          "all",
          "billing",
          "owner",
          "tech"
        ]
      },
      "domain.configurations.CustomFields": {
        "type": "object",
        "description": "Representation of the domain custom fields",
        "properties": {
          "audience": {
            "type": "string",
            "description": "Domain name audience",
            "nullable": true
          },
          "authInfo": {
            "type": "string",
            "description": "Auth Info",
            "nullable": true,
            "format": "password",
            "readOnly": true
          },
          "isFor": {
            "type": "array",
            "description": "Purposes of the domain",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/domain.IsForEnum"
            }
          },
          "otherPurpose": {
            "type": "string",
            "description": "Domain name other purpose",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "description": "Reason of the purchase of this domain",
            "nullable": true
          },
          "represent": {
            "type": "string",
            "description": "Represented company",
            "nullable": true
          }
        }
      },
      "domain.configurations.CustomFieldsUpdatePayload": {
        "type": "object",
        "description": "Payload used to update the custom fields of a domain name",
        "properties": {
          "customFields": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.configurations.CustomFields"
              }
            ],
            "description": "New domain custom fields"
          }
        }
      },
      "domain.configurations.ObfuscatedEmail": {
        "type": "object",
        "description": "Configuration of the email obfuscations for contacts related to a domain name",
        "properties": {
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.configurations.ObfuscationStatusEnum"
              }
            ],
            "description": "Status of the email obfuscation",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.configurations.ContactTypeEnum"
              }
            ],
            "description": "Type of the contact whose email is obfuscated by this configuration",
            "readOnly": true
          },
          "value": {
            "type": "string",
            "description": "Obfuscated email address",
            "readOnly": true
          }
        }
      },
      "domain.configurations.ObfuscatedEmailRefreshPayload": {
        "type": "object",
        "description": "Payload used to request the regeneration of obfuscated email redirections for the provided contacts of a domain name",
        "properties": {
          "contacts": {
            "type": "array",
            "description": "Type of the contacts to refresh email obfuscation for",
            "items": {
              "$ref": "#/components/schemas/domain.configurations.ContactTypeEnum"
            }
          }
        },
        "required": [
          "contacts"
        ]
      },
      "domain.configurations.ObfuscatedEmailUpdatePayload": {
        "type": "object",
        "description": "Payload used to request the email obfuscation of contacts related to a domain name",
        "properties": {
          "contacts": {
            "type": "array",
            "description": "Type of the contacts to request email obfuscation for",
            "items": {
              "$ref": "#/components/schemas/domain.configurations.ContactTypeEnum"
            }
          }
        },
        "required": [
          "contacts"
        ]
      },
      "domain.configurations.ObfuscationStatusEnum": {
        "type": "string",
        "description": "The possible statuses of an email obfuscation",
        "enum": [
          "done",
          "todo"
        ]
      },
      "domain.configurations.Optin": {
        "type": "object",
        "description": "Configuration of the optin fields for contacts related to a domain name",
        "properties": {
          "fields": {
            "type": "array",
            "description": "Fields to display publicly on the Whois",
            "items": {
              "$ref": "#/components/schemas/domain.OptinFieldsEnum"
            }
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.configurations.ContactTypeEnum"
              }
            ],
            "description": "Type of the contact associated to the optin configuration"
          }
        }
      },
      "domain.configurations.OptinUpdatePayload": {
        "type": "object",
        "description": "Payload used to optin the fields of contacts related to a domain name",
        "properties": {
          "optin": {
            "type": "array",
            "description": "New optin configuration",
            "items": {
              "$ref": "#/components/schemas/domain.configurations.Optin"
            }
          }
        }
      },
      "domain.data.claimNotice.Address": {
        "type": "object",
        "description": "Address for a claim notice holder",
        "properties": {
          "city": {
            "type": "string",
            "description": "City",
            "nullable": true,
            "readOnly": true
          },
          "countryCode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/nichandle.CountryEnum"
              }
            ],
            "description": "Country code",
            "nullable": true,
            "readOnly": true
          },
          "fax": {
            "allOf": [
              {
                "$ref": "#/components/schemas/phoneNumber"
              }
            ],
            "description": "Fax number",
            "nullable": true,
            "readOnly": true
          },
          "faxExtension": {
            "type": "string",
            "description": "Fax number extension",
            "nullable": true,
            "readOnly": true
          },
          "postalCode": {
            "type": "string",
            "description": "Postal zip code",
            "nullable": true,
            "readOnly": true
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State of province",
            "nullable": true,
            "readOnly": true
          },
          "streets": {
            "type": "array",
            "description": "Array of street name",
            "items": {
              "type": "string"
            },
            "readOnly": true
          },
          "voice": {
            "allOf": [
              {
                "$ref": "#/components/schemas/phoneNumber"
              }
            ],
            "description": "Phone number",
            "nullable": true,
            "readOnly": true
          },
          "voiceExtension": {
            "type": "string",
            "description": "Phone number extension",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "domain.data.claimNotice.ClaimNotice": {
        "type": "object",
        "description": "Definition of claim notices applying to a domain name",
        "properties": {
          "claims": {
            "type": "array",
            "description": "Array of claim notice for the domain",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/domain.data.claimNotice.ClaimNoticeDecision"
            },
            "readOnly": true
          },
          "endingDate": {
            "type": "string",
            "description": "Ending date of claim notice",
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Claim notice ID",
            "readOnly": true
          },
          "label": {
            "type": "string",
            "description": "Label referring to claim notice",
            "readOnly": true
          },
          "startingDate": {
            "type": "string",
            "description": "Beginning date of claim notice",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.data.claimNotice.ClaimNoticeTypeEnum"
              }
            ],
            "description": "Type of claim notice",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "domain.data.claimNotice.ClaimNoticeDecision": {
        "type": "object",
        "description": "Definition of a single claim notice",
        "properties": {
          "classifications": {
            "type": "array",
            "description": "Classifications where trademark claim notice apply",
            "items": {
              "$ref": "#/components/schemas/domain.data.claimNotice.Classification"
            },
            "readOnly": true
          },
          "courtDecisions": {
            "type": "array",
            "description": "Array of court decisions related to claim notice",
            "items": {
              "$ref": "#/components/schemas/domain.data.claimNotice.CourtDecision"
            },
            "readOnly": true
          },
          "goodsAndServices": {
            "type": "string",
            "description": "Goods and services on which apply claim notice",
            "readOnly": true
          },
          "jurisdiction": {
            "type": "string",
            "description": "Name of jurisdiction",
            "readOnly": true
          },
          "jurisdictionCountryCode": {
            "type": "string",
            "description": "Jurisdiction country code",
            "readOnly": true
          },
          "markName": {
            "type": "string",
            "description": "Mark name implicated in claim notice",
            "readOnly": true
          },
          "trademarkContacts": {
            "type": "array",
            "description": "Trademark contacts",
            "items": {
              "$ref": "#/components/schemas/domain.data.claimNotice.Contact"
            },
            "readOnly": true
          },
          "trademarkHolders": {
            "type": "array",
            "description": "Trademark holders",
            "items": {
              "$ref": "#/components/schemas/domain.data.claimNotice.Contact"
            },
            "readOnly": true
          },
          "trademarkUDRP": {
            "type": "array",
            "description": "Trademark UDRP information",
            "items": {
              "$ref": "#/components/schemas/domain.data.claimNotice.UDRP"
            },
            "readOnly": true
          }
        }
      },
      "domain.data.claimNotice.ClaimNoticeTypeEnum": {
        "type": "string",
        "description": "Type of claim notice",
        "enum": [
          "TRADEMARK",
          "UK"
        ]
      },
      "domain.data.claimNotice.Classification": {
        "type": "object",
        "description": "Definition of a trademark claim notice classification",
        "properties": {
          "description": {
            "type": "string",
            "description": "Summary of the classification",
            "readOnly": true
          },
          "number": {
            "type": "string",
            "description": "Code of the classification",
            "readOnly": true
          }
        }
      },
      "domain.data.claimNotice.Contact": {
        "type": "object",
        "description": "Contact definition of a claim notice holder",
        "properties": {
          "address": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.data.claimNotice.Address"
              }
            ],
            "description": "Address of holder",
            "readOnly": true
          },
          "email": {
            "type": "string",
            "description": "Email address",
            "nullable": true,
            "readOnly": true
          },
          "entitlement": {
            "type": "string",
            "description": "Legitimacy of holder",
            "nullable": true,
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Name of claim notice holder",
            "nullable": true,
            "readOnly": true
          },
          "organisation": {
            "type": "string",
            "description": "Organisation name",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "type": "string",
            "description": "Type of contact",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "domain.data.claimNotice.CourtDecision": {
        "type": "object",
        "description": "Definition of a court decision",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Country code",
            "readOnly": true
          },
          "courtName": {
            "type": "string",
            "description": "Court name",
            "readOnly": true
          },
          "referenceNumber": {
            "type": "string",
            "description": "Reference number of court decision",
            "readOnly": true
          },
          "regions": {
            "type": "array",
            "description": "Regions where court decision apply",
            "items": {
              "type": "string"
            },
            "readOnly": true
          }
        }
      },
      "domain.data.claimNotice.UDRP": {
        "type": "object",
        "description": "Definition of a UDRP procedure",
        "properties": {
          "caseNumber": {
            "type": "string",
            "description": "Case number",
            "readOnly": true
          },
          "udrpProvider": {
            "type": "string",
            "description": "UDRP Provider",
            "readOnly": true
          }
        }
      },
      "domain.data.smd.Smd": {
        "type": "object",
        "description": "Representation of a SMD file",
        "properties": {
          "data": {
            "type": "string",
            "description": "SMD file content",
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "UUID of SMD file",
            "format": "uuid",
            "readOnly": true
          },
          "notAfter": {
            "type": "string",
            "description": "Date when information about SMD file aren't valid anymore",
            "format": "date-time",
            "readOnly": true
          },
          "notBefore": {
            "type": "string",
            "description": "Date before when information about SMD file aren't valid yet",
            "format": "date-time",
            "readOnly": true
          },
          "protectedLabels": {
            "type": "array",
            "description": "List of the labels that are protect with that SMD file",
            "items": {
              "$ref": "#/components/schemas/domain.data.smd.SmdLabel"
            },
            "readOnly": true
          },
          "smdId": {
            "type": "string",
            "description": "TMCH Internal identifier",
            "readOnly": true
          }
        }
      },
      "domain.data.smd.SmdBody": {
        "type": "object",
        "description": "Representation of a SMD file",
        "properties": {
          "data": {
            "type": "string",
            "description": "SMD file content in base64"
          }
        },
        "required": [
          "data"
        ]
      },
      "domain.data.smd.SmdLabel": {
        "type": "object",
        "description": "Representation of a protected label",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label that is protected",
            "readOnly": true
          },
          "trademark": {
            "type": "string",
            "description": "Trademark associated to the protected label",
            "readOnly": true
          }
        }
      },
      "domain.extensions.CategoryNameWithExtensions": {
        "type": "object",
        "description": "Result of extensions by category request",
        "properties": {
          "extensions": {
            "type": "array",
            "description": "List of extensions",
            "items": {
              "type": "string"
            },
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Name of the category",
            "readOnly": true
          }
        }
      },
      "domain.extensions.CategoryTypeEnum": {
        "type": "string",
        "description": "Type of extension category",
        "enum": [
          "geolocalization",
          "thematic"
        ]
      },
      "domain.extensions.Extension": {
        "type": "object",
        "description": "A domain name extension",
        "properties": {
          "name": {
            "type": "string",
            "description": "The extension name",
            "readOnly": true
          }
        }
      },
      "domain.extensions.ExtensionsByCategory": {
        "type": "object",
        "description": "Result of extensions by category request",
        "properties": {
          "geolocalization": {
            "type": "array",
            "description": "Geolocalizations groups extensions by geographical place, like 'europe'",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/domain.extensions.CategoryNameWithExtensions"
            },
            "readOnly": true
          },
          "thematic": {
            "type": "array",
            "description": "Thematics groups extensions by a thematic like 'gastronomy' for '.pizza'",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/domain.extensions.CategoryNameWithExtensions"
            },
            "readOnly": true
          }
        }
      },
      "domain.extensions.ExtensionsPricingAttributes": {
        "type": "object",
        "description": "Result of getting pricing attributes of an extension",
        "properties": {
          "brandNew": {
            "type": "boolean",
            "description": "Parameter is true when the extension has been created recently and we want to highlight this fact",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Extension name, like 'com' or 'co.uk'",
            "readOnly": true
          },
          "priceDrop": {
            "type": "boolean",
            "description": "Parameter is true when the extension price has dropped recently and we want to highlight this fact",
            "readOnly": true
          }
        }
      },
      "domain.extensions.OrderByTypeEnum": {
        "type": "string",
        "description": "Type used to change the order of extensions results",
        "enum": [
          "alphabetical",
          "trending"
        ]
      },
      "domain.extensions.registryConfigurations.CreateLifecycleRegistryConfiguration": {
        "type": "object",
        "description": "The registry configurations applied when creating a domain name",
        "properties": {
          "allowedPeriodsInMonths": {
            "type": "array",
            "description": "The number of months allowed for a domain creation",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "readOnly": true
          }
        }
      },
      "domain.extensions.registryConfigurations.DNSRegistryConfiguration": {
        "type": "object",
        "description": "The registry configurations applied to the DNS of a domain name",
        "properties": {
          "isDNSSECSupported": {
            "type": "boolean",
            "description": "Whether DNSSEC is supported by the registry/backend and handled by OVHcloud",
            "readOnly": true
          },
          "maxNumber": {
            "type": "integer",
            "description": "The maximum required number of DNS",
            "nullable": true,
            "readOnly": true
          },
          "minNumber": {
            "type": "integer",
            "description": "The minimum required number of DNS",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "domain.extensions.registryConfigurations.DomainRegistryConfiguration": {
        "type": "object",
        "description": "The registry configurations applied to a domain name",
        "properties": {
          "extension_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.extensions.registryConfigurations.ExtensionTypeEnum"
              }
            ],
            "description": "The type of an extension (cctld or gtld)",
            "readOnly": true
          },
          "isPremiumSupported": {
            "type": "boolean",
            "description": "Whether premium domains are supported by the registry and handled by OVHcloud",
            "readOnly": true
          },
          "label": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.extensions.registryConfigurations.LabelDomainRegistryConfiguration"
              }
            ],
            "description": "The registry configurations applied to the domain name label",
            "readOnly": true
          }
        }
      },
      "domain.extensions.registryConfigurations.ExtensionTypeEnum": {
        "type": "string",
        "description": "The type of an extension (country-code TLD or generic TLD)",
        "enum": [
          "cctld",
          "gtld"
        ]
      },
      "domain.extensions.registryConfigurations.LabelDomainRegistryConfiguration": {
        "type": "object",
        "description": "The registry configurations applied to the domain name label",
        "properties": {
          "isIDNSupported": {
            "type": "boolean",
            "description": "Whether International Domain Names are supported by the registry and handled by OVHcloud",
            "readOnly": true
          },
          "maxLength": {
            "type": "integer",
            "description": "The maximum length allowed for a domain name (without the extension)",
            "nullable": true,
            "readOnly": true
          },
          "minLength": {
            "type": "integer",
            "description": "The minimum length allowed for a domain name (without the extension)",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "domain.extensions.registryConfigurations.LifecycleRegistryConfiguration": {
        "type": "object",
        "description": "The registry configurations of the lifecycle of a domain name",
        "properties": {
          "create": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.extensions.registryConfigurations.CreateLifecycleRegistryConfiguration"
              }
            ],
            "description": "The registry configurations applied when creating a domain name",
            "readOnly": true
          },
          "order": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.extensions.registryConfigurations.OrderLifecycleRegistryConfiguration"
              }
            ],
            "description": "The registry configurations applied when ordering a domain name",
            "readOnly": true
          },
          "renew": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.extensions.registryConfigurations.RenewLifecycleRegistryConfiguration"
              }
            ],
            "description": "The registry configurations applied when renewing a domain name",
            "readOnly": true
          },
          "restore": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.extensions.registryConfigurations.RestoreLifecycleRegistryConfiguration"
              }
            ],
            "description": "The registry configurations applied when restoring a domain name",
            "readOnly": true
          },
          "transfer": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.extensions.registryConfigurations.TransferLifecycleRegistryConfiguration"
              }
            ],
            "description": "The registry configurations applied when transfering a domain name",
            "readOnly": true
          }
        }
      },
      "domain.extensions.registryConfigurations.OrderLifecycleRegistryConfiguration": {
        "type": "object",
        "description": "The registry configurations applied when ordering a domain name",
        "properties": {
          "active": {
            "type": "boolean",
            "description": "True if the extension can be ordered from the website",
            "readOnly": true
          },
          "maxMonths": {
            "type": "integer",
            "description": "The maximum number of months a domain can be ordered for",
            "nullable": true,
            "readOnly": true
          },
          "minMonths": {
            "type": "integer",
            "description": "The minimum number of months a domain can be ordered for",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "domain.extensions.registryConfigurations.RegistryConfigurations": {
        "type": "object",
        "description": "The registry configurations applied to a domain extension (TLD, SLD)",
        "properties": {
          "dns": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.extensions.registryConfigurations.DNSRegistryConfiguration"
              }
            ],
            "description": "Configurations on the DNS associated to the domain for the given extension",
            "readOnly": true
          },
          "domain": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.extensions.registryConfigurations.DomainRegistryConfiguration"
              }
            ],
            "description": "Configurations on the domain name itself for the given extension",
            "readOnly": true
          },
          "lifecycle": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.extensions.registryConfigurations.LifecycleRegistryConfiguration"
              }
            ],
            "description": "Configurations on the lifecycle of a domain for the given extension",
            "readOnly": true
          }
        }
      },
      "domain.extensions.registryConfigurations.RenewLifecycleRegistryConfiguration": {
        "type": "object",
        "description": "The registry configurations applied when renewing a domain name",
        "properties": {
          "allowedPeriodsInMonths": {
            "type": "array",
            "description": "The number of months allowed for a domain renewal",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "readOnly": true
          },
          "gracePeriodInDays": {
            "type": "integer",
            "description": "The number of calendar days between the expiration date and the redemption period when a renew can be executed. During this period, the domain has expired and is suspended. It's the number of days before real deletion. The customer can still renew.",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "domain.extensions.registryConfigurations.RestoreLifecycleRegistryConfiguration": {
        "type": "object",
        "description": "The registry configurations applied when restoring a domain name",
        "properties": {
          "gracePeriodInDays": {
            "type": "integer",
            "description": "The number of calendar days in which the customer still can restore their domain after expiration. During this period, the domain has been deleted. The customer can still restore it until these days are over. Then the domain is returned to public, if not restored.",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "domain.extensions.registryConfigurations.TransferLifecycleRegistryConfiguration": {
        "type": "object",
        "description": "The registry configurations applied when transfering a domain name",
        "properties": {
          "allowedPeriodsInMonths": {
            "type": "array",
            "description": "The number of months allowed for a domain transfer",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "readOnly": true
          },
          "includeRenew": {
            "type": "boolean",
            "description": "Whether the transfer includes a renewal of the domain name, and therefore updates its expiration date",
            "readOnly": true
          }
        }
      },
      "domain.glueRecord.CreatePayload": {
        "type": "object",
        "description": "Payload used to create the glue records of a domain name",
        "properties": {
          "host": {
            "type": "string",
            "description": "Host of the glue record"
          },
          "ips": {
            "type": "array",
            "description": "IP addresses of the glue record",
            "items": {
              "$ref": "#/components/schemas/ip"
            }
          }
        },
        "required": [
          "host",
          "ips"
        ]
      },
      "domain.glueRecord.GlueRecord": {
        "type": "object",
        "description": "Glue record",
        "properties": {
          "host": {
            "type": "string",
            "description": "Host of the glue record",
            "readOnly": true
          },
          "ips": {
            "type": "array",
            "description": "IP address",
            "items": {
              "$ref": "#/components/schemas/ip"
            }
          }
        },
        "required": [
          "ips"
        ]
      },
      "domain.nameServer.CreatePayload": {
        "type": "object",
        "description": "Payload used to update the DNS of a domain name",
        "properties": {
          "nameServer": {
            "type": "array",
            "description": "Name servers to create",
            "items": {
              "$ref": "#/components/schemas/domain.nameServer.NameServerInput"
            }
          }
        },
        "required": [
          "nameServer"
        ]
      },
      "domain.nameServer.FullNameServer": {
        "type": "object",
        "description": "Full name server configuration",
        "properties": {
          "host": {
            "type": "string",
            "description": "Host of the name server",
            "readOnly": true
          },
          "id": {
            "type": "integer",
            "description": "ID of the name server",
            "readOnly": true
          },
          "ip": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ip"
              }
            ],
            "description": "IP address of the name server",
            "nullable": true,
            "readOnly": true
          },
          "isUsed": {
            "type": "boolean",
            "description": "isUsed flag of the name server",
            "readOnly": true
          },
          "toDelete": {
            "type": "boolean",
            "description": "toDelete flag of the name server",
            "readOnly": true
          }
        }
      },
      "domain.nameServer.NameServer": {
        "type": "object",
        "description": "Name server configuration",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the name server",
            "readOnly": true
          },
          "ipv4": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ipv4"
              }
            ],
            "description": "IPv4 adress of the name server",
            "nullable": true,
            "readOnly": true
          },
          "ipv6": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ipv6"
              }
            ],
            "description": "IPv6 adress  of the name server",
            "nullable": true,
            "readOnly": true
          },
          "nameServer": {
            "type": "string",
            "description": "Name of the name server",
            "readOnly": true
          },
          "nameServerType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.nameServer.NameServerTypeEnum"
              }
            ],
            "description": "Type of the name server",
            "readOnly": true
          }
        }
      },
      "domain.nameServer.NameServerInput": {
        "type": "object",
        "description": "Name server input data",
        "properties": {
          "host": {
            "type": "string",
            "description": "Host"
          },
          "ip": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ip"
              }
            ],
            "description": "IP address",
            "nullable": true
          }
        }
      },
      "domain.nameServer.NameServerStateEnum": {
        "type": "string",
        "description": "DNS server state",
        "enum": [
          "ko",
          "ok"
        ]
      },
      "domain.nameServer.NameServerStatus": {
        "type": "object",
        "description": "DNS server status",
        "properties": {
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.nameServer.NameServerStateEnum"
              }
            ],
            "description": "Whether or not the DNS server is working",
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.nameServer.NameServerTypeEnum"
              }
            ],
            "description": "Whether or not the DNS server is managed by OVHcloud",
            "readOnly": true
          },
          "usedSince": {
            "type": "string",
            "description": "Date from which the DNS server is used by the domain",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "domain.nameServer.NameServerTypeEnum": {
        "type": "string",
        "description": "DNS server type",
        "enum": [
          "anycast",
          "dedicated",
          "empty",
          "external",
          "hold",
          "hosted",
          "hosting",
          "mixed",
          "parking"
        ]
      },
      "domain.nameServer.UpdatePayload": {
        "type": "object",
        "description": "Payload used to update the DNS of a domain name",
        "properties": {
          "nameServers": {
            "type": "array",
            "description": "Name servers to update",
            "items": {
              "$ref": "#/components/schemas/domain.nameServer.NameServerInput"
            }
          }
        },
        "required": [
          "nameServers"
        ]
      },
      "domain.outgoingTransfer.Approve": {
        "type": "object",
        "description": "Definition of Outgoing Transfer applying to a domain name",
        "properties": {
          "approveType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.ApproveTypeEnum"
              }
            ],
            "description": "Approve type for outgoing transfer"
          },
          "ident": {
            "type": "string",
            "description": "Token given by email to validate identity"
          }
        }
      },
      "domain.rules.Optin": {
        "type": "object",
        "description": "Representation of the optin rule",
        "properties": {
          "fields": {
            "type": "array",
            "description": "Fields to display publicly on the Whois",
            "items": {
              "$ref": "#/components/schemas/domain.OptinFieldsEnum"
            },
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.configurations.ContactTypeEnum"
              }
            ],
            "description": "Type of the contact associated to the optin rule",
            "readOnly": true
          }
        }
      },
      "domain.zone.Capabilities": {
        "type": "object",
        "description": "DNS zone capabilities",
        "properties": {
          "dynHost": {
            "type": "boolean",
            "description": "True if dynHost available for this zone",
            "readOnly": true
          }
        }
      },
      "domain.zone.Dnssec": {
        "type": "object",
        "description": "DNS zone DNSSEC",
        "properties": {
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DnssecStatusEnum"
              }
            ],
            "description": "DNSSEC Status",
            "readOnly": true
          }
        }
      },
      "domain.zone.DynHostLogin": {
        "type": "object",
        "description": "Manage DynHost login",
        "properties": {
          "login": {
            "type": "string",
            "description": "Login",
            "readOnly": true
          },
          "subDomain": {
            "type": "string",
            "description": "Subdomain that the login will be allowed to update (* to allow all)"
          },
          "zone": {
            "type": "string",
            "description": "Zone",
            "readOnly": true
          }
        }
      },
      "domain.zone.DynHostRecord": {
        "type": "object",
        "description": "DynHost record",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id of the DynHost record",
            "readOnly": true
          },
          "ip": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ip"
              }
            ],
            "description": "Ip address of the DynHost record"
          },
          "subDomain": {
            "type": "string",
            "description": "Subdomain of the DynHost record",
            "nullable": true
          },
          "ttl": {
            "type": "integer",
            "description": "DynHost record ttl",
            "nullable": true,
            "readOnly": true
          },
          "zone": {
            "type": "string",
            "description": "Zone of the DynHost record",
            "readOnly": true
          }
        }
      },
      "domain.zone.Import": {
        "type": "object",
        "description": "DNS zone import",
        "properties": {
          "zoneFile": {
            "type": "string",
            "description": "Zone file that will be imported"
          }
        },
        "required": [
          "zoneFile"
        ]
      },
      "domain.zone.Option": {
        "type": "object",
        "description": "DNS zone option",
        "properties": {
          "name": {
            "type": "string",
            "description": "The option name",
            "readOnly": true
          }
        }
      },
      "domain.zone.Record": {
        "type": "object",
        "description": "DNS zone history",
        "properties": {
          "fieldType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.zone.RecordTypeEnum"
              }
            ],
            "readOnly": true
          },
          "id": {
            "type": "integer",
            "description": "Id of the record",
            "readOnly": true
          },
          "subDomain": {
            "type": "string",
            "description": "Record subDomain",
            "nullable": true,
            "readOnly": true
          },
          "target": {
            "type": "string",
            "description": "Target of the record",
            "readOnly": true
          },
          "ttl": {
            "type": "integer",
            "description": "TTL of the record",
            "nullable": true,
            "readOnly": true
          },
          "zone": {
            "type": "string",
            "description": "Resource record zone",
            "readOnly": true
          }
        }
      },
      "domain.zone.RecordCreate": {
        "type": "object",
        "description": "DNS zone history",
        "properties": {
          "fieldType": {
            "$ref": "#/components/schemas/domain.zone.RecordTypeEnum"
          },
          "id": {
            "type": "integer",
            "description": "Id of the record",
            "readOnly": true
          },
          "subDomain": {
            "type": "string",
            "description": "Record subDomain",
            "nullable": true
          },
          "target": {
            "type": "string",
            "description": "Target of the record"
          },
          "ttl": {
            "type": "integer",
            "description": "TTL of the record"
          },
          "zone": {
            "type": "string",
            "description": "Resource record zone",
            "readOnly": true
          }
        },
        "required": [
          "fieldType",
          "target"
        ]
      },
      "domain.zone.RecordTypeEnum": {
        "type": "string",
        "description": "Resource record name",
        "enum": [
          "A",
          "AAAA",
          "CAA",
          "CNAME",
          "DKIM",
          "DMARC",
          "DNAME",
          "HTTPS",
          "LOC",
          "MX",
          "NAPTR",
          "NS",
          "PTR",
          "RP",
          "SPF",
          "SRV",
          "SSHFP",
          "SVCB",
          "TLSA",
          "TXT"
        ]
      },
      "domain.zone.RecordUpdate": {
        "type": "object",
        "description": "DNS zone record",
        "properties": {
          "subDomain": {
            "type": "string",
            "description": "Record subdomain",
            "nullable": true
          },
          "target": {
            "type": "string",
            "description": "Target of the record"
          },
          "ttl": {
            "type": "integer",
            "description": "TTL of the record",
            "nullable": true
          }
        }
      },
      "domain.zone.Redirection": {
        "type": "object",
        "description": "DNS zone redirections",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description for the invisible redirection",
            "nullable": true,
            "readOnly": true
          },
          "id": {
            "type": "integer",
            "description": "Id of the redirection",
            "readOnly": true
          },
          "keywords": {
            "type": "string",
            "description": "Keywords for the invisible redirection",
            "nullable": true,
            "readOnly": true
          },
          "subDomain": {
            "type": "string",
            "description": "Subdomain to redirect",
            "nullable": true,
            "readOnly": true
          },
          "target": {
            "type": "string",
            "description": "Target of the redirection",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "description": "Title for the invisible redirection",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.zone.RedirectionTypeEnum"
              }
            ],
            "readOnly": true
          },
          "zone": {
            "type": "string",
            "description": "Redirection zone",
            "readOnly": true
          }
        }
      },
      "domain.zone.RedirectionCreate": {
        "type": "object",
        "description": "DNS zone redirection create",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description for the invisible redirection",
            "nullable": true
          },
          "keywords": {
            "type": "string",
            "description": "Keywords for the invisible redirection",
            "nullable": true
          },
          "subDomain": {
            "type": "string",
            "description": "Subdomain to redirect"
          },
          "target": {
            "type": "string",
            "description": "Target of the redirection"
          },
          "title": {
            "type": "string",
            "description": "Title for the invisible redirection",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/domain.zone.RedirectionTypeEnum"
          }
        },
        "required": [
          "target",
          "type"
        ]
      },
      "domain.zone.RedirectionTypeEnum": {
        "type": "string",
        "description": "Redirection type:\n - visible -> Redirection by http code 302\n - visiblePermanent -> Redirection by http code 301\n - invisible -> Redirection by html frame",
        "enum": [
          "invisible",
          "visible",
          "visiblePermanent"
        ]
      },
      "domain.zone.RedirectionUpdate": {
        "type": "object",
        "description": "DNS zone redirection update",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description for the invisible redirection",
            "nullable": true
          },
          "keywords": {
            "type": "string",
            "description": "Keywords for the invisible redirection",
            "nullable": true
          },
          "target": {
            "type": "string",
            "description": "Target of the redirection"
          },
          "title": {
            "type": "string",
            "description": "Title for the invisible redirection",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/domain.zone.RedirectionTypeEnum"
          }
        }
      },
      "domain.zone.Reset": {
        "type": "object",
        "description": "DNS zone reset",
        "properties": {
          "DnsRecords": {
            "type": "array",
            "description": "Records that will be set after reset",
            "items": {
              "$ref": "#/components/schemas/domain.zone.ResetRecord"
            }
          },
          "minimized": {
            "type": "boolean",
            "description": "Create only mandatory records"
          }
        }
      },
      "domain.zone.ResetRecord": {
        "type": "object",
        "description": "Record associated to domain zone reset",
        "properties": {
          "fieldType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.zone.ResettableNamedResolutionFieldTypeEnum"
              }
            ],
            "description": "Field type associated to domain zone reset"
          },
          "target": {
            "type": "string",
            "description": "Target associated to domain zone reset"
          }
        }
      },
      "domain.zone.ResettableNamedResolutionFieldTypeEnum": {
        "type": "string",
        "description": "Resource record name",
        "enum": [
          "A",
          "MX"
        ]
      },
      "domain.zone.Soa": {
        "type": "object",
        "description": "DNS zone SOA",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address of the DNS Administrator"
          },
          "expire": {
            "type": "integer",
            "description": "When a zone transfer fails, a countdown clock begins. When the number of seconds set in the expire field elapses, the nameserver stops answering for that zone file"
          },
          "nxDomainTtl": {
            "type": "integer",
            "description": "Non-Existent Domain TTL, if the name server returns a negative response, the remote server should wait the number of seconds set in the nxDomainTtl field before trying again"
          },
          "refresh": {
            "type": "integer",
            "description": "The refresh value determines the interval in seconds between successful zone transfers of the entire zone file from a nameserver to another."
          },
          "serial": {
            "type": "integer",
            "description": "The serial number is used to indicate which copy of the zone file is the most current. When editing zone files, you must increment the serial number"
          },
          "server": {
            "type": "string",
            "description": "Primary authoritative server"
          },
          "ttl": {
            "type": "integer",
            "description": "Time To Live in seconds"
          }
        }
      },
      "domain.zone.Status": {
        "type": "object",
        "description": "DNS zone status",
        "properties": {
          "errors": {
            "type": "array",
            "description": "Error list if any",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "readOnly": true
          },
          "isDeployed": {
            "type": "boolean",
            "description": "Whether the zone is deployed or not",
            "readOnly": true
          },
          "warnings": {
            "type": "array",
            "description": "Warning list if any",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "readOnly": true
          }
        }
      },
      "domain.zone.Task": {
        "type": "object",
        "description": "DNS zone task",
        "properties": {
          "canAccelerate": {
            "type": "boolean",
            "description": "Can accelerate the task",
            "readOnly": true
          },
          "canCancel": {
            "type": "boolean",
            "description": "Can cancel the task",
            "readOnly": true
          },
          "canRelaunch": {
            "type": "boolean",
            "description": "Can relaunch the task",
            "readOnly": true
          },
          "comment": {
            "type": "string",
            "description": "Comment about the task",
            "nullable": true,
            "readOnly": true
          },
          "creationDate": {
            "type": "string",
            "description": "Creation date of the task",
            "format": "date-time",
            "readOnly": true
          },
          "doneDate": {
            "type": "string",
            "description": "Done date of the task",
            "nullable": true,
[...]
