{
  "openapi": "3.0.0",
  "info": {
    "title": "OVHcloud API specification",
    "description": "Specification for OVHcloud API",
    "version": "1.0",
    "contact": {
      "name": "OVH",
      "email": "api@ml.ovh.net"
    }
  },
  "servers": [
    {
      "url": "https://eu.api.ovh.com/v1"
    }
  ],
  "components": {
    "schemas": {
      "any": {
        "description": "Can be anything (text, int, bool, json, html, etc.)",
        "example": "This is a content of any type !"
      },
      "domain.DomainFilterActionEnum": {
        "type": "string",
        "description": "Possible values for filter action",
        "enum": [
          "accept",
          "account",
          "delete",
          "redirect"
        ]
      },
      "domain.DomainFilterOperandEnum": {
        "type": "string",
        "description": "Possible values for filter operation",
        "enum": [
          "checkspf",
          "contains",
          "noContains"
        ]
      },
      "domain.DomainMXFilterEnum": {
        "type": "string",
        "description": "Possible values for MX filter",
        "enum": [
          "CUSTOM",
          "FULL_FILTERING",
          "NO_FILTERING",
          "REDIRECT",
          "SIMPLE_FILTERING"
        ]
      },
      "domain.DomainMlLanguageEnum": {
        "type": "string",
        "description": "Possible values for mailing list language",
        "enum": [
          "de",
          "en",
          "es",
          "fr",
          "it",
          "nl",
          "pl",
          "pt"
        ]
      },
      "domain.DomainMlLimits": {
        "type": "object",
        "description": "Structure of mailinglist limits",
        "properties": {
          "subscribers": {
            "type": "integer",
            "description": "Maximum number of subscribers"
          }
        }
      },
      "domain.DomainMlOptionsStruct": {
        "type": "object",
        "description": "Structure of imapCopy",
        "properties": {
          "moderatorMessage": {
            "type": "boolean",
            "description": "If true, messages are moderate"
          },
          "subscribeByModerator": {
            "type": "boolean",
            "description": "If true, enabled moderation for subscribe"
          },
          "usersPostOnly": {
            "type": "boolean",
            "description": "If true, just user can post"
          }
        }
      },
      "domain.DomainPopActionEnum": {
        "type": "string",
        "description": "Possible values for pop action task",
        "enum": [
          "addAccount",
          "changeAccount",
          "changePassword",
          "deleteAccount",
          "internalMigration",
          "migration",
          "temporaryTask",
          "unknown"
        ]
      },
      "domain.DomainQuota": {
        "type": "object",
        "description": "Values of quota account (pop, mailing list, redirection, responder and big pop)",
        "properties": {
          "account": {
            "type": "integer",
            "description": "Maximum number of mailboxes"
          },
          "alias": {
            "type": "integer",
            "description": "Maximum number of aliases"
          },
          "mailingList": {
            "type": "integer",
            "description": "Maximum number of mailing lists"
          },
          "redirection": {
            "type": "integer",
            "description": "Maximum number of redirections"
          },
          "responder": {
            "type": "integer",
            "description": "Maximum number of responders"
          }
        }
      },
      "domain.DomainSpecialAccountActionEnum": {
        "type": "string",
        "description": "Possible values for pop action task",
        "enum": [
          "add",
          "change",
          "delete"
        ]
      },
      "domain.DomainSpecialAccountTypeEnum": {
        "type": "string",
        "description": "Possible type task",
        "enum": [
          "25g",
          "alias",
          "delete",
          "filter",
          "forward",
          "responder"
        ]
      },
      "domain.DomainStatusEnum": {
        "type": "string",
        "description": "Possible values for status domain",
        "enum": [
          "close",
          "ok",
          "readOnly",
          "unknown"
        ]
      },
      "domain.DomainSummary": {
        "type": "object",
        "description": "Values of number account (account, mailing list, redirection and responder)",
        "properties": {
          "account": {
            "type": "integer",
            "description": "Number of mailboxes"
          },
          "mailingList": {
            "type": "integer",
            "description": "Number of mailing lists"
          },
          "redirection": {
            "type": "integer",
            "description": "Number of redirections"
          },
          "responder": {
            "type": "integer",
            "description": "Number of responders"
          }
        }
      },
      "domain.DomainUsageAccountStruct": {
        "type": "object",
        "description": "Structure of usage account",
        "properties": {
          "date": {
            "type": "string",
            "description": "Timestamp",
            "nullable": true,
            "format": "date-time"
          },
          "emailCount": {
            "type": "integer",
            "description": "Number of message in mailbox",
            "nullable": true
          },
          "quota": {
            "type": "integer",
            "description": "Size of mailbox (bytes)",
            "nullable": true
          }
        }
      },
      "duration": {
        "type": "string",
        "description": "Duration (e.g., P1Y2M3DT4H6M9S)",
        "example": "P1Y2M3DT4H6M9S"
      },
      "email": {
        "type": "string",
        "description": "Email address (e.g., api@ml.ovh.net)",
        "format": "email",
        "example": "api@ml.ovh.net"
      },
      "email.domain.Account": {
        "type": "object",
        "description": "Account List",
        "properties": {
          "accountName": {
            "type": "string",
            "description": "Name of account",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "description": "Account description"
          },
          "domain": {
            "type": "string",
            "description": "Name of domain",
            "readOnly": true
          },
          "email": {
            "type": "string",
            "description": "Email",
            "readOnly": true
          },
          "isBlocked": {
            "type": "boolean",
            "description": "If true your account is blocked",
            "readOnly": true
          },
          "size": {
            "type": "integer",
            "description": "Size of your account in bytes"
          }
        }
      },
      "email.domain.AccountDelegated": {
        "type": "object",
        "description": "Account List",
        "properties": {
          "accountName": {
            "type": "string",
            "description": "Name of account",
            "readOnly": true
          },
          "allowedAccountSize": {
            "type": "array",
            "description": "List of allowed sizes for this account in bytes",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "readOnly": true
          },
          "description": {
            "type": "string",
            "description": "Account description"
          },
          "domain": {
            "type": "string",
            "description": "Name of domain",
            "readOnly": true
          },
          "email": {
            "type": "string",
            "description": "Email",
            "readOnly": true
          },
          "isBlocked": {
            "type": "boolean",
            "description": "If true your account is blocked",
            "readOnly": true
          },
          "size": {
            "type": "integer",
            "description": "Size of your account in bytes"
          }
        }
      },
      "email.domain.Acl": {
        "type": "object",
        "description": "Email ACL",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "OVH customer unique identifier",
            "readOnly": true
          }
        }
      },
      "email.domain.DKIMSelector": {
        "type": "object",
        "description": "DKIM selector data for a domain",
        "properties": {
          "cname": {
            "type": "string",
            "description": "CNAME record"
          },
          "selectorName": {
            "type": "string",
            "description": "Internal name of selector"
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/email.domain.DKIMSelectorStatusEnum"
              }
            ],
            "description": "Status of selector"
          }
        }
      },
      "email.domain.DKIMSelectorStatusEnum": {
        "type": "string",
        "description": "Status of DKIM selector",
        "enum": [
          "set",
          "toFix",
          "toSet"
        ]
      },
      "email.domain.DKIMStatusEnum": {
        "type": "string",
        "description": "Status of DKIM deployment",
        "enum": [
          "disabled",
          "enabled",
          "error",
          "modifying",
          "toConfigure"
        ]
      },
      "email.domain.Delegation": {
        "type": "object",
        "description": "Delegation List",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "OVH customer unique identifier",
            "readOnly": true
          }
        }
      },
      "email.domain.Diagnose": {
        "type": "object",
        "description": "Email diagnoses",
        "properties": {
          "date": {
            "type": "string",
            "description": "Creation date of diagnose",
            "format": "date-time",
            "readOnly": true
          },
          "function": {
            "allOf": [
              {
                "$ref": "#/components/schemas/email.domain.DomainDiagnoseFunctionEnum"
              }
            ],
            "description": "Function of diagnose",
            "readOnly": true
          },
          "id": {
            "type": "integer",
            "description": "Id of diagnose",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Name of account",
            "nullable": true,
            "readOnly": true
          },
          "result": {
            "allOf": [
              {
                "$ref": "#/components/schemas/email.domain.DomainDiagnoseResultEnum"
              }
            ],
            "description": "Result of diagnose",
            "nullable": true,
            "readOnly": true
          },
          "trace": {
            "type": "array",
            "description": "Trace of diagnose",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/email.domain.DomainDiagnoseTraceStruct_email.domain.DomainDiagnoseResultEnum"
            },
            "readOnly": true
          }
        }
      },
      "email.domain.DiagnoseEnum": {
        "type": "string",
        "description": "Result value for diagnose",
        "enum": [
          "checkFail",
          "invalid",
          "none",
          "unknown",
          "valid"
        ]
      },
      "email.domain.DnsRecordTypeEnum": {
        "type": "string",
        "description": "Types of DNS record for fieldType",
        "enum": [
          "A",
          "AAAA",
          "CAA",
          "CNAME",
          "DKIM",
          "DMARC",
          "DNAME",
          "LOC",
          "MX",
          "NAPTR",
          "NS",
          "PTR",
          "SPF",
          "SRV",
          "SSHFP",
          "TLSA",
          "TXT"
        ]
      },
      "email.domain.DomainDiagnoseFunctionEnum": {
        "type": "string",
        "description": "Function of diagnose",
        "enum": [
          "MX"
        ]
      },
      "email.domain.DomainDiagnoseResultEnum": {
        "type": "string",
        "description": "Result of diagnose",
        "enum": [
          "CUSTOM",
          "DEPRECATED",
          "KO",
          "OK"
        ]
      },
      "email.domain.DomainDiagnoseTraceStruct_email.domain.DomainDiagnoseResultEnum": {
        "type": "object",
        "description": "Test and result, with proper test strings",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/email.domain.DomainDiagnoseResultEnum"
          },
          "test": {
            "type": "string"
          }
        }
      },
      "email.domain.DomainService": {
        "type": "object",
        "description": "Domain service",
        "properties": {
          "allowedAccountSize": {
            "type": "array",
            "description": "List of allowed sizes for this domain in bytes",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "readOnly": true
          },
          "creationDate": {
            "type": "string",
            "description": "Creation date of domain",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          },
          "domain": {
            "type": "string",
            "description": "Name of domain",
            "readOnly": true
          },
          "filerz": {
            "type": "integer",
            "description": "Filerz of domain",
            "nullable": true,
            "readOnly": true
          },
          "isMXValid": {
            "allOf": [
              {
                "$ref": "#/components/schemas/email.domain.DiagnoseEnum"
              }
            ],
            "description": "Result of MX check if current MX fit to OVH recommendations",
            "readOnly": true
          },
          "isSPFValid": {
            "allOf": [
              {
                "$ref": "#/components/schemas/email.domain.DiagnoseEnum"
              }
            ],
            "description": "Result of SPF check if current SPF fit to OVH recommendations",
            "readOnly": true
          },
          "linkTo": {
            "type": "string",
            "description": "Name of servicelinked with this domain",
            "nullable": true,
            "readOnly": true
          },
          "migratedMXPlanServiceName": {
            "type": "string",
            "description": "Name of new MXPlan service",
            "nullable": true,
            "readOnly": true
          },
          "offer": {
            "type": "string",
            "description": "Offer of email service",
            "nullable": true,
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DomainStatusEnum"
              }
            ],
            "description": "Domain Status",
            "readOnly": true
          }
        }
      },
      "email.domain.DomainServiceWithIAM": {
        "type": "object",
        "description": "Domain service",
        "properties": {
          "allowedAccountSize": {
            "type": "array",
            "description": "List of allowed sizes for this domain in bytes",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "readOnly": true
          },
          "creationDate": {
            "type": "string",
            "description": "Creation date of domain",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          },
          "domain": {
            "type": "string",
            "description": "Name of domain",
            "readOnly": true
          },
          "filerz": {
            "type": "integer",
            "description": "Filerz of domain",
            "nullable": true,
            "readOnly": true
          },
          "iam": {
            "allOf": [
              {
                "$ref": "#/components/schemas/iam.ResourceMetadata"
              }
            ],
            "description": "IAM resource metadata",
            "nullable": true,
            "readOnly": true
          },
          "isMXValid": {
            "allOf": [
              {
                "$ref": "#/components/schemas/email.domain.DiagnoseEnum"
              }
            ],
            "description": "Result of MX check if current MX fit to OVH recommendations",
            "readOnly": true
          },
          "isSPFValid": {
            "allOf": [
              {
                "$ref": "#/components/schemas/email.domain.DiagnoseEnum"
              }
            ],
            "description": "Result of SPF check if current SPF fit to OVH recommendations",
            "readOnly": true
          },
          "linkTo": {
            "type": "string",
            "description": "Name of servicelinked with this domain",
            "nullable": true,
            "readOnly": true
          },
          "migratedMXPlanServiceName": {
            "type": "string",
            "description": "Name of new MXPlan service",
            "nullable": true,
            "readOnly": true
          },
          "offer": {
            "type": "string",
            "description": "Offer of email service",
            "nullable": true,
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DomainStatusEnum"
              }
            ],
            "description": "Domain Status",
            "readOnly": true
          }
        }
      },
      "email.domain.Filter": {
        "type": "object",
        "description": "Filter List",
        "properties": {
          "action": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DomainFilterActionEnum"
              }
            ],
            "description": "Action of filter",
            "nullable": true,
            "readOnly": true
          },
          "actionParam": {
            "type": "string",
            "description": "Action parameter of filter",
            "nullable": true,
            "readOnly": true
          },
          "active": {
            "type": "boolean",
            "description": "If true filter is active",
            "readOnly": true
          },
          "domain": {
            "type": "string",
            "description": "Domain name of filter",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Filter name",
            "readOnly": true
          },
          "pop": {
            "type": "string",
            "description": "Account name of filter",
            "readOnly": true
          },
          "priority": {
            "type": "integer",
            "description": "Priority of filter",
            "readOnly": true
          }
        }
      },
      "email.domain.MailingList": {
        "type": "object",
        "description": "Mailing List",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id of mailing list",
            "readOnly": true
          },
          "language": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DomainMlLanguageEnum"
              }
            ],
            "description": "Language of mailing list",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Name of mailing list",
            "readOnly": true
          },
          "nbSubscribers": {
            "type": "integer",
            "description": "Subscribers number of mailing list",
            "nullable": true,
            "readOnly": true
          },
          "nbSubscribersUpdateDate": {
            "type": "string",
            "description": "Last update subscribers",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          },
          "options": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DomainMlOptionsStruct"
              }
            ],
            "description": "Options of mailing list",
            "readOnly": true
          },
          "ownerEmail": {
            "type": "string",
            "description": "Owner email of mailing list"
          },
          "replyTo": {
            "type": "string",
            "description": "Email to reply of mailing list"
          }
        }
      },
      "email.domain.MigrationAccount": {
        "type": "object",
        "description": "Migration account",
        "properties": {
          "destinationEmailAddress": {
            "type": "string",
            "description": "Destination account name",
            "readOnly": true
          },
          "quota": {
            "type": "integer",
            "description": "Account maximum size",
            "readOnly": true
          }
        }
      },
      "email.domain.MigrationCheckCodeEnum": {
        "type": "string",
        "description": "Result code of check migration",
        "enum": [
          "ACCOUNT_EMPTY",
          "ACCOUNT_INPROGRESS",
          "DELEGATION_EXIST",
          "DOMAIN_EMPTY",
          "FILTER_EXIST",
          "FORWARD_EXIST",
          "FORWARD_LOCAL",
          "MAILINGLIST_EXIST",
          "MAILINGLIST_INPROGRESS",
          "MAILPROXY_BAD_INFRA",
          "MAILPROXY_EMPTY",
          "MAILPROXY_INPROGRESS",
          "MAILPROXY_RESERVATION",
          "REDIRECTION_INPROGRESS",
          "RESPONDER_EXIST",
          "RESPONDER_INPROGRESS",
          "UNKNOW"
        ]
      },
      "email.domain.MigrationCheckResultStruct": {
        "type": "object",
        "description": "Check Migration result",
        "properties": {
          "code": {
            "allOf": [
              {
                "$ref": "#/components/schemas/email.domain.MigrationCheckCodeEnum"
              }
            ],
            "description": "Result code of check migration"
          },
          "details": {
            "type": "string",
            "description": "Details of result code",
            "nullable": true
          }
        }
      },
      "email.domain.MigrationCheckStruct": {
        "type": "object",
        "description": "Check Migration result",
        "properties": {
          "alias": {
            "type": "array",
            "description": "List of aliases",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "error": {
            "type": "array",
            "description": "List of errors",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/email.domain.MigrationCheckResultStruct"
            }
          },
          "filter": {
            "type": "array",
            "description": "List of filters",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "forward": {
            "type": "array",
            "description": "List of forwards",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "warning": {
            "type": "array",
            "description": "List of warnings",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/email.domain.MigrationCheckResultStruct"
            }
          }
        }
      },
      "email.domain.MigrationService": {
        "type": "object",
        "description": "Migration service",
        "properties": {
          "contactAdmin": {
            "type": "string",
            "description": "Admin contact of service",
            "readOnly": true
          },
          "contactBilling": {
            "type": "string",
            "description": "Billing contact of service",
            "readOnly": true
          },
          "contactTech": {
            "type": "string",
            "description": "Tech contact of service",
            "readOnly": true
          },
          "creation": {
            "type": "string",
            "description": "Creation date of service",
            "format": "date",
            "readOnly": true
          },
          "destinationServiceName": {
            "type": "string",
            "description": "Service name allowed as migration destination",
            "readOnly": true
          },
          "expiration": {
            "type": "string",
            "description": "Expiration date of service",
            "format": "date",
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/email.domain.MigrationServiceType"
              }
            ],
            "description": "Offer type of service",
            "readOnly": true
          }
        }
      },
      "email.domain.MigrationServiceType": {
        "type": "string",
        "description": "Types of migration service",
        "enum": [
          "EMAIL PRO",
          "HOSTED EXCHANGE",
          "PRIVATE EXCHANGE",
          "PROVIDER EXCHANGE"
        ]
      },
      "email.domain.Moderator": {
        "type": "object",
        "description": "Moderators List",
        "properties": {
          "domain": {
            "type": "string",
            "readOnly": true
          },
          "email": {
            "type": "string",
            "readOnly": true
          },
          "mailinglist": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "email.domain.Record": {
        "type": "object",
        "description": "DNS record for email services",
        "properties": {
          "fieldType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/email.domain.DnsRecordTypeEnum"
              }
            ],
            "description": "Type of DNS record",
            "readOnly": true
          },
          "id": {
            "type": "integer",
            "description": "Id of record",
            "readOnly": true
          },
          "subDomain": {
            "type": "string",
            "description": "subdomain of record",
            "nullable": true,
            "readOnly": true
          },
          "target": {
            "type": "string",
            "description": "Target of DNS record",
            "readOnly": true
          },
          "ttl": {
            "type": "integer",
            "description": "TTL of record",
            "nullable": true,
            "readOnly": true
          },
          "zone": {
            "type": "string",
            "description": "Name of DNS zone",
            "readOnly": true
          }
        }
      },
      "email.domain.RedirectionChangeRedirectionCreation": {
        "type": "object",
        "description": "Change redirection",
        "properties": {
          "to": {
            "type": "string",
            "description": "Target of account"
          }
        },
        "required": [
          "to"
        ]
      },
      "email.domain.RedirectionCreation": {
        "type": "object",
        "description": "Create redirection",
        "properties": {
          "from": {
            "type": "string",
            "description": "Name of redirection"
          },
          "localCopy": {
            "type": "boolean",
            "description": "If true keep a local copy"
          },
          "to": {
            "type": "string",
            "description": "Target of account"
          }
        },
        "required": [
          "from",
          "localCopy",
          "to"
        ]
      },
      "email.domain.RedirectionGlobal": {
        "type": "object",
        "description": "Global Redirection",
        "properties": {
          "from": {
            "type": "string",
            "description": "Name of redirection",
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Id of redirection",
            "readOnly": true
          },
          "to": {
            "type": "string",
            "description": "Target of redirection",
            "readOnly": true
          }
        }
      },
      "email.domain.Responder": {
        "type": "object",
        "description": "Responder",
        "properties": {
          "account": {
            "type": "string",
            "description": "Name of account",
            "readOnly": true
          },
          "content": {
            "type": "string",
            "description": "Content of responder"
          },
          "copy": {
            "type": "boolean",
            "description": "If false, emails will be dropped. If true and copyTo field is empty, emails will be delivered to your mailbox. If true and copyTo is set with an address, emails will be delivered to this address",
            "readOnly": true
          },
          "copyTo": {
            "type": "string",
            "description": "Account where copy emails",
            "nullable": true,
            "readOnly": true
          },
          "from": {
            "type": "string",
            "description": "Date of start responder",
            "nullable": true,
            "format": "date-time"
          },
          "to": {
            "type": "string",
            "description": "Date of end responder",
            "nullable": true,
            "format": "date-time"
          }
        }
      },
      "email.domain.ResponderAccount": {
        "type": "object",
        "description": "Responder of account",
        "properties": {
          "account": {
            "type": "string",
            "description": "Name of account",
            "readOnly": true
          },
          "content": {
            "type": "string",
            "description": "Content of responder"
          },
          "copy": {
            "type": "boolean",
            "description": "If true, emails will be copy to emailToCopy address",
            "readOnly": true
          },
          "copyTo": {
            "type": "string",
            "description": "Account where copy emails",
            "nullable": true,
            "readOnly": true
          },
          "from": {
            "type": "string",
            "description": "Date of start responder",
            "nullable": true,
            "format": "date-time"
          },
          "to": {
            "type": "string",
            "description": "Date of end responder",
            "nullable": true,
            "format": "date-time"
          }
        }
      },
      "email.domain.Rule": {
        "type": "object",
        "description": "Rule List",
        "properties": {
          "header": {
            "type": "string",
            "description": "Header to be filtered",
            "readOnly": true
          },
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "operand": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DomainFilterOperandEnum"
              }
            ],
            "description": "Rule of filter",
            "readOnly": true
          },
          "value": {
            "type": "string",
            "description": "Rule parameter of filter",
            "readOnly": true
          }
        }
      },
      "email.domain.Subscriber": {
        "type": "object",
        "description": "Subscribers List",
        "properties": {
          "domain": {
            "type": "string",
            "readOnly": true
          },
          "email": {
            "type": "string",
            "readOnly": true
          },
          "mailinglist": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "email.domain.TaskFilter": {
        "type": "object",
        "description": "Task filter List",
        "properties": {
          "account": {
            "type": "string",
            "description": "Account name of task",
            "readOnly": true
          },
          "action": {
            "type": "string",
            "description": "Action of task",
            "readOnly": true
          },
          "domain": {
            "type": "string",
            "description": "Domain name of task",
            "readOnly": true
          },
          "id": {
            "type": "integer",
            "description": "Id of task",
            "readOnly": true
          },
          "timestamp": {
            "type": "string",
            "description": "Creation date of task",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "email.domain.TaskMl": {
        "type": "object",
        "description": "Task Mailing List",
        "properties": {
          "account": {
            "type": "string",
            "readOnly": true
          },
          "action": {
            "type": "string",
            "readOnly": true
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "domain": {
            "type": "string",
            "readOnly": true
          },
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "language": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DomainMlLanguageEnum"
              }
            ],
            "readOnly": true
          }
        }
      },
      "email.domain.TaskPop": {
        "type": "object",
        "description": "Task Pop List",
        "properties": {
          "action": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DomainPopActionEnum"
              }
            ],
            "description": "Action of task",
            "readOnly": true
          },
          "date": {
            "type": "string",
            "description": "Creation date of task",
            "format": "date-time",
            "readOnly": true
          },
          "domain": {
            "type": "string",
            "description": "Domain name of task",
            "readOnly": true
          },
          "id": {
            "type": "integer",
            "description": "Id of task",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Account name of task",
            "readOnly": true
          }
        }
      },
      "email.domain.TaskSpecialAccount": {
        "type": "object",
        "description": "Task special account List",
        "properties": {
          "account": {
            "type": "string",
            "description": "Account name of task",
            "readOnly": true
          },
          "action": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DomainSpecialAccountActionEnum"
              }
            ],
            "description": "Action of task",
            "readOnly": true
          },
          "date": {
            "type": "string",
            "description": "Creation date of task",
            "format": "date-time",
            "readOnly": true
          },
          "domain": {
            "type": "string",
            "description": "Domain name of task",
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Id of task",
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/domain.DomainSpecialAccountTypeEnum"
              }
            ],
            "description": "Type of action filter",
            "readOnly": true
          }
        }
      },
      "email.domain.TaskStatusEnum": {
        "type": "string",
        "description": "Possible values for domain task status",
        "enum": [
          "cancelled",
          "customerError",
          "doing",
          "done",
          "init",
          "ovhError",
          "todo"
        ]
      },
      "email.domain.dkim_simplified": {
        "type": "object",
        "description": "DKIM for a domain",
        "properties": {
          "activeSelector": {
            "type": "string",
            "description": "activeSelector",
            "nullable": true,
            "readOnly": true
          },
          "autoconfig": {
            "type": "boolean",
            "description": "If true your DNS CNAME configuration is valid",
            "nullable": true,
            "readOnly": true
          },
          "selectors": {
            "type": "array",
            "description": "DKIM status",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/email.domain.DKIMSelector"
            },
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/email.domain.DKIMStatusEnum"
              }
            ],
            "description": "DKIM status",
            "readOnly": true
          }
        }
      },
      "email.domain.task": {
        "type": "object",
        "description": "Tasks",
        "properties": {
          "domain": {
            "type": "string",
            "description": "Domain name of the task",
            "readOnly": true
          },
          "function": {
            "type": "string",
            "description": "Function of the task",
            "readOnly": true
          },
          "id": {
            "type": "integer",
            "description": "Id of the task",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/email.domain.TaskStatusEnum"
              }
            ],
            "description": "Status of the task",
            "readOnly": true
          }
        }
      },
      "iam.ResourceMetadata": {
        "type": "object",
        "description": "IAM resource metadata embedded in services models",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Resource display name",
            "nullable": true,
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the resource",
            "format": "uuid",
            "readOnly": true
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/iam.ResourceMetadata.StateEnum"
              }
            ],
            "description": "Resource state",
            "nullable": true,
            "readOnly": true
          },
          "tags": {
            "type": "object",
            "description": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            },
            "readOnly": true
          },
          "urn": {
            "type": "string",
            "description": "Unique resource name used in policies",
            "readOnly": true
          }
        }
      },
      "iam.ResourceMetadata.StateEnum": {
        "type": "string",
        "description": "Resource state",
        "enum": [
          "EXPIRED",
          "IN_CREATION",
          "OK",
          "SUSPENDED"
        ]
      },
      "iam.resource.TagFilter": {
        "type": "object",
        "description": "Resource tag filter",
        "properties": {
          "operator": {
            "allOf": [
              {
                "$ref": "#/components/schemas/iam.resource.TagFilter.OperatorEnum"
              }
            ],
            "description": "Operator to use in order to filter on the value (defaults to 'EQ')",
            "nullable": true,
            "readOnly": true
          },
          "value": {
            "type": "string",
            "description": "Value to use in order to filter tags",
            "readOnly": true
          }
        }
      },
      "iam.resource.TagFilter.OperatorEnum": {
        "type": "string",
        "description": "Operator that can be used in order to filter resources tags",
        "enum": [
          "EQ",
          "EXISTS",
          "ILIKE",
          "LIKE",
          "NEQ",
          "NEXISTS"
        ]
      },
      "internationalPhoneNumber": {
        "type": "string",
        "description": "International phone number",
        "format": "phone-number"
      },
      "ip": {
        "type": "string",
        "description": "IP address (e.g., 192.0.2.0)",
        "format": "ipv4",
        "example": "192.0.2.0"
      },
      "ipBlock": {
        "type": "string",
        "description": "IP (v4 or v6) CIDR notation (e.g., 192.0.2.0/24)",
        "format": "ip-block",
        "example": "192.0.2.0/24"
      },
      "ipInterface": {
        "type": "string",
        "description": "IP address (e.g., 192.0.2.0)",
        "format": "ipv4",
        "example": "192.0.2.0"
      },
      "ipv4": {
        "type": "string",
        "description": "IPv4 address (e.g., 192.0.2.0)",
        "format": "ipv4",
        "example": "192.0.2.0"
      },
      "ipv4Block": {
        "type": "string",
        "description": "IPv4 CIDR notation (e.g., 192.0.2.0/24)",
        "format": "ipv4-block",
        "example": "192.0.2.0/24"
      },
      "ipv6": {
        "type": "string",
        "description": "IPv6 address (e.g., 2001:41d0:1:1994::1)",
        "format": "ipv6",
        "example": "2001:41d0:1:1994::1"
      },
      "ipv6Block": {
        "type": "string",
        "description": "IPv6 CIDR notation (e.g., 2001:41d0::/128)",
        "format": "ipv6-block",
        "example": "2001:41d0::/128"
      },
      "macAddress": {
        "type": "string",
        "description": "MAC address (e.g., 2001:4860:4860::8844)",
        "format": "mac-address",
        "example": "2001:4860:4860::8888. 2001:4860:4860::8844"
      },
      "phoneNumber": {
        "type": "string",
        "description": "Phone number",
        "format": "phone-number"
      },
      "service.RenewType": {
        "type": "object",
        "description": "Map a possible renew for a specific service",
        "properties": {
          "automatic": {
            "type": "boolean",
            "description": "The service is automatically renewed"
          },
          "deleteAtExpiration": {
            "type": "boolean",
            "description": "The service will be deleted at expiration"
          },
          "forced": {
            "type": "boolean",
            "description": "The service forced to be renewed"
          },
          "manualPayment": {
            "type": "boolean",
            "description": "The service needs to be manually renewed and paid",
            "nullable": true
          },
          "period": {
            "type": "integer",
            "description": "period of renew in month",
            "nullable": true
          }
        }
      },
      "service.RenewalTypeEnum": {
        "type": "string",
        "description": "Detailed renewal type of a service",
        "enum": [
          "automaticForcedProduct",
          "automaticV2012",
          "automaticV2014",
          "automaticV2016",
          "automaticV2024",
          "manual",
          "oneShot",
          "option"
        ]
      },
      "service.StateEnum": {
        "type": "string",
        "enum": [
          "autorenewInProgress",
          "expired",
          "inCreation",
          "ok",
          "pendingDebt",
          "unPaid"
        ]
      },
      "service.TerminationReasonEnum": {
        "type": "string",
        "description": "All reasons you can provide for a service termination",
        "enum": [
          "FEATURES_DONT_SUIT_ME",
          "LACK_OF_PERFORMANCES",
          "MIGRATED_TO_ANOTHER_OVH_PRODUCT",
          "MIGRATED_TO_COMPETITOR",
          "NOT_ENOUGH_RECOGNITION",
          "NOT_NEEDED_ANYMORE",
          "NOT_RELIABLE",
          "NO_ANSWER",
          "OTHER",
          "PRODUCT_DIMENSION_DONT_SUIT_ME",
          "PRODUCT_TOOLS_DONT_SUIT_ME",
          "TOO_EXPENSIVE",
          "TOO_HARD_TO_USE",
          "UNSATIFIED_BY_CUSTOMER_SUPPORT"
        ]
      },
      "services.Service": {
        "type": "object",
        "description": "Details about a Service",
        "properties": {
          "canDeleteAtExpiration": {
            "type": "boolean",
            "description": "Indicates that the service can be set up to be deleted at expiration",
            "readOnly": true
          },
          "contactAdmin": {
            "type": "string",
            "readOnly": true
          },
          "contactBilling": {
            "type": "string",
            "readOnly": true
          },
          "contactTech": {
            "type": "string",
            "readOnly": true
          },
          "creation": {
            "type": "string",
            "format": "date",
            "readOnly": true
          },
          "domain": {
            "type": "string",
            "readOnly": true
          },
          "engagedUpTo": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "readOnly": true
          },
          "expiration": {
            "type": "string",
            "format": "date",
            "readOnly": true
          },
          "possibleRenewPeriod": {
            "type": "array",
            "description": "All the possible renew period of your service in month",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "readOnly": true
          },
          "renew": {
            "allOf": [
              {
                "$ref": "#/components/schemas/service.RenewType"
              }
            ],
            "description": "Way of handling the renew",
            "nullable": true
          },
          "renewalType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/service.RenewalTypeEnum"
              }
            ],
            "readOnly": true
          },
          "serviceId": {
            "type": "integer",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/service.StateEnum"
              }
            ],
            "readOnly": true
          }
        }
      },
      "time": {
        "type": "string",
        "description": "Time (e.g., 15:04:05)",
        "format": "time",
        "example": "15:04:05"
      }
    },
    "securitySchemes": {
      "oAuth2AuthCode": {
        "type": "oauth2",
        "description": "Oauth2",
        "x-client-id": "1bb9c7df371741c0",
        "x-client-secret": "a5b4de870aca620d10fbf63cd18d205b",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.ovh.com/auth/oauth2/authorize",
            "tokenUrl": "https://www.ovh.com/auth/oauth2/token",
            "scopes": {
              "account/all": "Manage your account",
              "all": "Manage your whole account and all your services",
              "services/all": "Manage your services lifecycle and billing"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/email/domain": {
      "get": {
        "summary": "List available services",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "iamTags",
            "description": "Filter resources on IAM tags",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/iam.resource.TagFilter"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
        "x-code-samples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "'''\nFirst, install the latest release of Python wrapper: $ pip install ovh\n'''\nimport json\nimport ovh\n\n# Instantiate an OVH Client.\n# You can generate new credentials with full access to your account on\n# the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\nclient = ovh.Client(\n\tendpoint='ovh-eu',               # Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n\tapplication_key='xxxxxxxxxx',    # Application Key\n\tapplication_secret='xxxxxxxxxx', # Application Secret\n\tconsumer_key='xxxxxxxxxx',       # Consumer Key\n)\n\nresult = client.get(\"/email/domain\")\n\n# Pretty print\nprint(json.dumps(result, indent=4))"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n/**\n * First, download the latest release of PHP wrapper on github\n * And include this script into the folder with extracted files\n */\nrequire __DIR__ . '/vendor/autoload.php';\nuse \\Ovh\\Api;\n\n/**\n * Instantiate an OVH Client.\n * You can generate new credentials with full access to your account on\n * the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\n */\n$ovh = new Api('xxxxxxxxxx',  // Application Key\n               'xxxxxxxxxx',  // Application Secret\n               'ovh-eu',      // Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n               'xxxxxxxxxx'); // Consumer Key\n\n$result = $ovh->get(\"/email/domain\");\n\nprint_r($result);\n?>"
          }
        ],
        "x-iam-actions": [
          {
            "name": "emailDomain:apiovh:get",
            "required": true
          }
        ],
        "x-expanded-response": "EmailDomainDomainServiceWithIAM"
      }
    },
    "/email/domain/delegatedAccount": {
      "get": {
        "summary": "Delegated emails",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "accountName",
            "description": "Name of email address",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "domain",
            "description": "Domain of email address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
        "x-code-samples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "'''\nFirst, install the latest release of Python wrapper: $ pip install ovh\n'''\nimport json\nimport ovh\n\n# Instantiate an OVH Client.\n# You can generate new credentials with full access to your account on\n# the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\nclient = ovh.Client(\n\tendpoint='ovh-eu',               # Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n\tapplication_key='xxxxxxxxxx',    # Application Key\n\tapplication_secret='xxxxxxxxxx', # Application Secret\n\tconsumer_key='xxxxxxxxxx',       # Consumer Key\n)\n\nresult = client.get(\"/email/domain/delegatedAccount\")\n\n# Pretty print\nprint(json.dumps(result, indent=4))"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n/**\n * First, download the latest release of PHP wrapper on github\n * And include this script into the folder with extracted files\n */\nrequire __DIR__ . '/vendor/autoload.php';\nuse \\Ovh\\Api;\n\n/**\n * Instantiate an OVH Client.\n * You can generate new credentials with full access to your account on\n * the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\n */\n$ovh = new Api('xxxxxxxxxx',  // Application Key\n               'xxxxxxxxxx',  // Application Secret\n               'ovh-eu',      // Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n               'xxxxxxxxxx'); // Consumer Key\n\n$result = $ovh->get(\"/email/domain/delegatedAccount\");\n\nprint_r($result);\n?>"
          }
        ],
        "x-iam-actions": [
          {
            "name": "account:apiovh:emailDomain/delegatedAccount/get",
            "required": true
          }
        ],
        "x-expanded-response": "EmailDomainAccountDelegated"
      }
    },
    "/email/domain/delegatedAccount/{email}": {
      "get": {
        "summary": "Get this object properties",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/email.domain.AccountDelegated"
                }
              }
            }
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
        "x-code-samples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "'''\nFirst, install the latest release of Python wrapper: $ pip install ovh\n'''\nimport json\nimport ovh\n\n# Instantiate an OVH Client.\n# You can generate new credentials with full access to your account on\n# the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\nclient = ovh.Client(\n\tendpoint='ovh-eu',               # Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n\tapplication_key='xxxxxxxxxx',    # Application Key\n\tapplication_secret='xxxxxxxxxx', # Application Secret\n\tconsumer_key='xxxxxxxxxx',       # Consumer Key\n)\n\nresult = client.get(\"/email/domain/delegatedAccount/{email}\")\n\n# Pretty print\nprint(json.dumps(result, indent=4))"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n/**\n * First, download the latest release of PHP wrapper on github\n * And include this script into the folder with extracted files\n */\nrequire __DIR__ . '/vendor/autoload.php';\nuse \\Ovh\\Api;\n\n/**\n * Instantiate an OVH Client.\n * You can generate new credentials with full access to your account on\n * the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\n */\n$ovh = new Api('xxxxxxxxxx',  // Application Key\n               'xxxxxxxxxx',  // Application Secret\n               'ovh-eu',      // Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n               'xxxxxxxxxx'); // Consumer Key\n\n$result = $ovh->get(\"/email/domain/delegatedAccount/{email}\");\n\nprint_r($result);\n?>"
          }
        ],
        "x-iam-actions": [
          {
            "name": "account:apiovh:emailDomain/delegatedAccount/get",
            "required": true
          }
        ]
      },
      "put": {
        "summary": "Alter this object properties",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/email.domain.AccountDelegated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
        "x-code-samples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "'''\nFirst, install the latest release of Python wrapper: $ pip install ovh\n'''\nimport json\nimport ovh\n\n# Instantiate an OVH Client.\n# You can generate new credentials with full access to your account on\n# the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\nclient = ovh.Client(\n\tendpoint='ovh-eu',               # Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n\tapplication_key='xxxxxxxxxx',    # Application Key\n\tapplication_secret='xxxxxxxxxx', # Application Secret\n\tconsumer_key='xxxxxxxxxx',       # Consumer Key\n)\n\n# Request body type: email.domain.AccountDelegated\nresult = client.put(\"/email/domain/delegatedAccount/{email}\",\n\tdescription = None, # Account description (type: string)\n\tsize = None, # Size of your account in bytes (type: integer)\n)\n\n# Pretty print\nprint(json.dumps(result, indent=4))"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n/**\n * First, download the latest release of PHP wrapper on github\n * And include this script into the folder with extracted files\n */\nrequire __DIR__ . '/vendor/autoload.php';\nuse \\Ovh\\Api;\n\n/**\n * Instantiate an OVH Client.\n * You can generate new credentials with full access to your account on\n * the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\n */\n$ovh = new Api('xxxxxxxxxx',  // Application Key\n               'xxxxxxxxxx',  // Application Secret\n               'ovh-eu',      // Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n               'xxxxxxxxxx'); // Consumer Key\n\n// Request body type: email.domain.AccountDelegated\n$result = $ovh->put(\"/email/domain/delegatedAccount/{email}\", array(\n\tdescription => null, // Account description (type: string)\n\tsize => null, // Size of your account in bytes (type: integer)\n));\n\nprint_r($result);\n?>"
          }
        ],
        "x-iam-actions": [
          {
            "name": "account:apiovh:emailDomain/delegatedAccount/edit",
            "required": true
          }
        ]
      }
    },
    "/email/domain/delegatedAccount/{email}/changePassword": {
      "post": {
        "summary": "Change mailbox password (length : [9;30], no space at begin and end, no accent)",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "New password",
                    "format": "password"
                  }
                },
                "required": [
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/email.domain.TaskPop"
                }
              }
            }
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
        "x-code-samples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "'''\nFirst, install the latest release of Python wrapper: $ pip install ovh\n'''\nimport json\nimport ovh\n\n# Instantiate an OVH Client.\n# You can generate new credentials with full access to your account on\n# the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\nclient = ovh.Client(\n\tendpoint='ovh-eu',               # Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n\tapplication_key='xxxxxxxxxx',    # Application Key\n\tapplication_secret='xxxxxxxxxx', # Application Secret\n\tconsumer_key='xxxxxxxxxx',       # Consumer Key\n)\n\n# Request body type: password\nresult = client.post(\"/email/domain/delegatedAccount/{email}/changePassword\",\n\tpassword = None, # New password (type: password)\n)\n\n# Pretty print\nprint(json.dumps(result, indent=4))"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n/**\n * First, download the latest release of PHP wrapper on github\n * And include this script into the folder with extracted files\n */\nrequire __DIR__ . '/vendor/autoload.php';\nuse \\Ovh\\Api;\n\n/**\n * Instantiate an OVH Client.\n * You can generate new credentials with full access to your account on\n * the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\n */\n$ovh = new Api('xxxxxxxxxx',  // Application Key\n               'xxxxxxxxxx',  // Application Secret\n               'ovh-eu',      // Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n               'xxxxxxxxxx'); // Consumer Key\n\n// Request body type: password\n$result = $ovh->post(\"/email/domain/delegatedAccount/{email}/changePassword\", array(\n\tpassword => null, // New password (type: password)\n));\n\nprint_r($result);\n?>"
          }
        ],
        "x-iam-actions": [
          {
            "name": "emailDomain:apiovh:delegatedAccount/changePassword",
            "required": true
          }
        ]
      }
    },
    "/email/domain/delegatedAccount/{email}/filter": {
      "get": {
        "summary": "Get filters",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
        "x-code-samples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "'''\nFirst, install the latest release of Python wrapper: $ pip install ovh\n'''\nimport json\nimport ovh\n\n# Instantiate an OVH Client.\n# You can generate new credentials with full access to your account on\n# the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\nclient = ovh.Client(\n\tendpoint='ovh-eu',               # Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n\tapplication_key='xxxxxxxxxx',    # Application Key\n\tapplication_secret='xxxxxxxxxx', # Application Secret\n\tconsumer_key='xxxxxxxxxx',       # Consumer Key\n)\n\nresult = client.get(\"/email/domain/delegatedAccount/{email}/filter\")\n\n# Pretty print\nprint(json.dumps(result, indent=4))"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n/**\n * First, download the latest release of PHP wrapper on github\n * And include this script into the folder with extracted files\n */\nrequire __DIR__ . '/vendor/autoload.php';\nuse \\Ovh\\Api;\n\n/**\n * Instantiate an OVH Client.\n * You can generate new credentials with full access to your account on\n * the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\n */\n$ovh = new Api('xxxxxxxxxx',  // Application Key\n               'xxxxxxxxxx',  // Application Secret\n               'ovh-eu',      // Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n               'xxxxxxxxxx'); // Consumer Key\n\n$result = $ovh->get(\"/email/domain/delegatedAccount/{email}/filter\");\n\nprint_r($result);\n?>"
          }
        ],
        "x-iam-actions": [
          {
            "name": "emailDomain:apiovh:delegatedAccount/filter/get",
            "required": true
          }
        ],
        "x-expanded-response": "EmailDomainFilter"
      },
      "post": {
        "summary": "Create new filter for account",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "description": "Action of filter",
                    "$ref": "#/components/schemas/domain.DomainFilterActionEnum"
                  },
                  "actionParam": {
                    "type": "string",
                    "description": "Action parameter of filter"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "If true filter is active"
                  },
                  "header": {
                    "type": "string",
                    "description": "Header to be filtered"
                  },
                  "name": {
                    "type": "string",
                    "description": "Filter name"
                  },
                  "operand": {
                    "description": "Rule of filter",
                    "$ref": "#/components/schemas/domain.DomainFilterOperandEnum"
                  },
                  "priority": {
                    "type": "integer",
                    "description": "Priority of filter"
                  },
                  "value": {
                    "type": "string",
                    "description": "Rule parameter of filter"
                  }
                },
                "required": [
                  "action",
                  "active",
                  "header",
                  "name",
                  "operand",
                  "priority",
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/email.domain.TaskFilter"
                }
              }
            }
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
        "x-code-samples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "'''\nFirst, install the latest release of Python wrapper: $ pip install ovh\n'''\nimport json\nimport ovh\n\n# Instantiate an OVH Client.\n# You can generate new credentials with full access to your account on\n# the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\nclient = ovh.Client(\n\tendpoint='ovh-eu',               # Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n\tapplication_key='xxxxxxxxxx',    # Application Key\n\tapplication_secret='xxxxxxxxxx', # Application Secret\n\tconsumer_key='xxxxxxxxxx',       # Consumer Key\n)\n\nresult = client.post(\"/email/domain/delegatedAccount/{email}/filter\",\n\taction = None, # Action of filter (type: domain.DomainFilterActionEnum)\n\tactionParam = None, # Action parameter of filter (type: string, nullable)\n\tactive = None, # If true filter is active (type: boolean)\n\theader = None, # Header to be filtered (type: string)\n\tname = None, # Filter name (type: string)\n\toperand = None, # Rule of filter (type: domain.DomainFilterOperandEnum)\n\tpriority = None, # Priority of filter (type: long)\n\tvalue = None, # Rule parameter of filter (type: string)\n)\n\n# Pretty print\nprint(json.dumps(result, indent=4))"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n/**\n * First, download the latest release of PHP wrapper on github\n * And include this script into the folder with extracted files\n */\nrequire __DIR__ . '/vendor/autoload.php';\nuse \\Ovh\\Api;\n\n/**\n * Instantiate an OVH Client.\n * You can generate new credentials with full access to your account on\n * the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\n */\n$ovh = new Api('xxxxxxxxxx',  // Application Key\n               'xxxxxxxxxx',  // Application Secret\n               'ovh-eu',      // Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n               'xxxxxxxxxx'); // Consumer Key\n\n$result = $ovh->post(\"/email/domain/delegatedAccount/{email}/filter\", array(\n\taction => null, // Action of filter (type: domain.DomainFilterActionEnum)\n\tactionParam => null, // Action parameter of filter (type: string, nullable)\n\tactive => null, // If true filter is active (type: boolean)\n\theader => null, // Header to be filtered (type: string)\n\tname => null, // Filter name (type: string)\n\toperand => null, // Rule of filter (type: domain.DomainFilterOperandEnum)\n\tpriority => null, // Priority of filter (type: long)\n\tvalue => null, // Rule parameter of filter (type: string)\n));\n\nprint_r($result);\n?>"
          }
        ],
        "x-iam-actions": [
          {
            "name": "emailDomain:apiovh:delegatedAccount/filter/create",
            "required": true
          }
        ]
      }
    },
    "/email/domain/delegatedAccount/{email}/filter/{name}": {
      "delete": {
        "summary": "Delete an existing filter",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "name",
            "description": "Filter name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/email.domain.TaskFilter"
                  }
                }
              }
            }
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
        "x-code-samples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "'''\nFirst, install the latest release of Python wrapper: $ pip install ovh\n'''\nimport json\nimport ovh\n\n# Instantiate an OVH Client.\n# You can generate new credentials with full access to your account on\n# the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\nclient = ovh.Client(\n\tendpoint='ovh-eu',               # Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n\tapplication_key='xxxxxxxxxx',    # Application Key\n\tapplication_secret='xxxxxxxxxx', # Application Secret\n\tconsumer_key='xxxxxxxxxx',       # Consumer Key\n)\n\nresult = client.delete(\"/email/domain/delegatedAccount/{email}/filter/{name}\")\n\n# Pretty print\nprint(json.dumps(result, indent=4))"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n/**\n * First, download the latest release of PHP wrapper on github\n * And include this script into the folder with extracted files\n */\nrequire __DIR__ . '/vendor/autoload.php';\nuse \\Ovh\\Api;\n\n/**\n * Instantiate an OVH Client.\n * You can generate new credentials with full access to your account on\n * the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\n */\n$ovh = new Api('xxxxxxxxxx',  // Application Key\n               'xxxxxxxxxx',  // Application Secret\n               'ovh-eu',      // Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n               'xxxxxxxxxx'); // Consumer Key\n\n$result = $ovh->delete(\"/email/domain/delegatedAccount/{email}/filter/{name}\");\n\nprint_r($result);\n?>"
          }
        ],
        "x-iam-actions": [
          {
            "name": "emailDomain:apiovh:delegatedAccount/filter/delete",
            "required": true
          }
        ]
      },
      "get": {
        "summary": "Get this object properties",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "name",
            "description": "Filter name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/email.domain.Filter"
                }
              }
            }
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
        "x-code-samples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "'''\nFirst, install the latest release of Python wrapper: $ pip install ovh\n'''\nimport json\nimport ovh\n\n# Instantiate an OVH Client.\n# You can generate new credentials with full access to your account on\n# the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\nclient = ovh.Client(\n\tendpoint='ovh-eu',               # Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n\tapplication_key='xxxxxxxxxx',    # Application Key\n\tapplication_secret='xxxxxxxxxx', # Application Secret\n\tconsumer_key='xxxxxxxxxx',       # Consumer Key\n)\n\nresult = client.get(\"/email/domain/delegatedAccount/{email}/filter/{name}\")\n\n# Pretty print\nprint(json.dumps(result, indent=4))"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n/**\n * First, download the latest release of PHP wrapper on github\n * And include this script into the folder with extracted files\n */\nrequire __DIR__ . '/vendor/autoload.php';\nuse \\Ovh\\Api;\n\n/**\n * Instantiate an OVH Client.\n * You can generate new credentials with full access to your account on\n * the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\n */\n$ovh = new Api('xxxxxxxxxx',  // Application Key\n               'xxxxxxxxxx',  // Application Secret\n               'ovh-eu',      // Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n               'xxxxxxxxxx'); // Consumer Key\n\n$result = $ovh->get(\"/email/domain/delegatedAccount/{email}/filter/{name}\");\n\nprint_r($result);\n?>"
          }
        ],
        "x-iam-actions": [
          {
            "name": "emailDomain:apiovh:delegatedAccount/filter/get",
            "required": true
          }
        ]
      }
    },
    "/email/domain/delegatedAccount/{email}/filter/{name}/changeActivity": {
      "post": {
        "summary": "Change filter activity",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "name",
            "description": "Filter name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "activity": {
                    "type": "boolean",
                    "description": "New activity"
                  }
                },
                "required": [
                  "activity"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/email.domain.TaskFilter"
                }
              }
            }
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
        "x-code-samples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "'''\nFirst, install the latest release of Python wrapper: $ pip install ovh\n'''\nimport json\nimport ovh\n\n# Instantiate an OVH Client.\n# You can generate new credentials with full access to your account on\n# the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\nclient = ovh.Client(\n\tendpoint='ovh-eu',               # Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n\tapplication_key='xxxxxxxxxx',    # Application Key\n\tapplication_secret='xxxxxxxxxx', # Application Secret\n\tconsumer_key='xxxxxxxxxx',       # Consumer Key\n)\n\n# Request body type: boolean\nresult = client.post(\"/email/domain/delegatedAccount/{email}/filter/{name}/changeActivity\",\n\tactivity = None, # New activity (type: boolean)\n)\n\n# Pretty print\nprint(json.dumps(result, indent=4))"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n/**\n * First, download the latest release of PHP wrapper on github\n * And include this script into the folder with extracted files\n */\nrequire __DIR__ . '/vendor/autoload.php';\nuse \\Ovh\\Api;\n\n/**\n * Instantiate an OVH Client.\n * You can generate new credentials with full access to your account on\n * the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\n */\n$ovh = new Api('xxxxxxxxxx',  // Application Key\n               'xxxxxxxxxx',  // Application Secret\n               'ovh-eu',      // Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n               'xxxxxxxxxx'); // Consumer Key\n\n// Request body type: boolean\n$result = $ovh->post(\"/email/domain/delegatedAccount/{email}/filter/{name}/changeActivity\", array(\n\tactivity => null, // New activity (type: boolean)\n));\n\nprint_r($result);\n?>"
          }
        ],
        "x-iam-actions": [
          {
            "name": "emailDomain:apiovh:delegatedAccount/filter/changeActivity",
            "required": true
          }
        ]
      }
    },
    "/email/domain/delegatedAccount/{email}/filter/{name}/changePriority": {
      "post": {
        "summary": "Change filter priority",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "name",
            "description": "Filter name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "priority": {
                    "type": "integer",
                    "description": "New priority"
                  }
                },
                "required": [
                  "priority"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/email.domain.TaskFilter"
                }
              }
            }
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
        "x-code-samples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "'''\nFirst, install the latest release of Python wrapper: $ pip install ovh\n'''\nimport json\nimport ovh\n\n# Instantiate an OVH Client.\n# You can generate new credentials with full access to your account on\n# the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\nclient = ovh.Client(\n\tendpoint='ovh-eu',               # Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n\tapplication_key='xxxxxxxxxx',    # Application Key\n\tapplication_secret='xxxxxxxxxx', # Application Secret\n\tconsumer_key='xxxxxxxxxx',       # Consumer Key\n)\n\n# Request body type: long\nresult = client.post(\"/email/domain/delegatedAccount/{email}/filter/{name}/changePriority\",\n\tpriority = None, # New priority (type: long)\n)\n\n# Pretty print\nprint(json.dumps(result, indent=4))"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n/**\n * First, download the latest release of PHP wrapper on github\n * And include this script into the folder with extracted files\n */\nrequire __DIR__ . '/vendor/autoload.php';\nuse \\Ovh\\Api;\n\n/**\n * Instantiate an OVH Client.\n * You can generate new credentials with full access to your account on\n * the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\n */\n$ovh = new Api('xxxxxxxxxx',  // Application Key\n               'xxxxxxxxxx',  // Application Secret\n               'ovh-eu',      // Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n               'xxxxxxxxxx'); // Consumer Key\n\n// Request body type: long\n$result = $ovh->post(\"/email/domain/delegatedAccount/{email}/filter/{name}/changePriority\", array(\n\tpriority => null, // New priority (type: long)\n));\n\nprint_r($result);\n?>"
          }
        ],
        "x-iam-actions": [
          {
            "name": "emailDomain:apiovh:delegatedAccount/filter/changePriority",
            "required": true
          }
        ]
      }
    },
    "/email/domain/delegatedAccount/{email}/filter/{name}/rule": {
      "get": {
        "summary": "Get rules",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "name",
            "description": "Filter name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
        "x-code-samples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "'''\nFirst, install the latest release of Python wrapper: $ pip install ovh\n'''\nimport json\nimport ovh\n\n# Instantiate an OVH Client.\n# You can generate new credentials with full access to your account on\n# the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\nclient = ovh.Client(\n\tendpoint='ovh-eu',               # Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n\tapplication_key='xxxxxxxxxx',    # Application Key\n\tapplication_secret='xxxxxxxxxx', # Application Secret\n\tconsumer_key='xxxxxxxxxx',       # Consumer Key\n)\n\nresult = client.get(\"/email/domain/delegatedAccount/{email}/filter/{name}/rule\")\n\n# Pretty print\nprint(json.dumps(result, indent=4))"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n/**\n * First, download the latest release of PHP wrapper on github\n * And include this script into the folder with extracted files\n */\nrequire __DIR__ . '/vendor/autoload.php';\nuse \\Ovh\\Api;\n\n/**\n * Instantiate an OVH Client.\n * You can generate new credentials with full access to your account on\n * the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\n */\n$ovh = new Api('xxxxxxxxxx',  // Application Key\n               'xxxxxxxxxx',  // Application Secret\n               'ovh-eu',      // Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n               'xxxxxxxxxx'); // Consumer Key\n\n$result = $ovh->get(\"/email/domain/delegatedAccount/{email}/filter/{name}/rule\");\n\nprint_r($result);\n?>"
          }
        ],
        "x-iam-actions": [
          {
            "name": "emailDomain:apiovh:delegatedAccount/filter/rule/get",
            "required": true
          }
        ],
        "x-expanded-response": "EmailDomainRule"
      },
      "post": {
        "summary": "Create new rule for filter",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "name",
            "description": "Filter name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "header": {
                    "type": "string",
                    "description": "Header to be filtered"
                  },
                  "operand": {
                    "description": "Rule of filter",
                    "$ref": "#/components/schemas/domain.DomainFilterOperandEnum"
                  },
                  "value": {
                    "type": "string",
                    "description": "Rule parameter of filter"
                  }
                },
                "required": [
                  "header",
                  "operand",
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/email.domain.TaskFilter"
                }
              }
            }
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
        "x-code-samples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "'''\nFirst, install the latest release of Python wrapper: $ pip install ovh\n'''\nimport json\nimport ovh\n\n# Instantiate an OVH Client.\n# You can generate new credentials with full access to your account on\n# the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\nclient = ovh.Client(\n\tendpoint='ovh-eu',               # Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n\tapplication_key='xxxxxxxxxx',    # Application Key\n\tapplication_secret='xxxxxxxxxx', # Application Secret\n\tconsumer_key='xxxxxxxxxx',       # Consumer Key\n)\n\n# Request body type: string\nresult = client.post(\"/email/domain/delegatedAccount/{email}/filter/{name}/rule\",\n\theader = None, # Header to be filtered (type: string)\n\toperand = None, # Rule of filter (type: domain.DomainFilterOperandEnum)\n\tvalue = None, # Rule parameter of filter (type: string)\n)\n\n# Pretty print\nprint(json.dumps(result, indent=4))"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n/**\n * First, download the latest release of PHP wrapper on github\n * And include this script into the folder with extracted files\n */\nrequire __DIR__ . '/vendor/autoload.php';\nuse \\Ovh\\Api;\n\n/**\n * Instantiate an OVH Client.\n * You can generate new credentials with full access to your account on\n * the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\n */\n$ovh = new Api('xxxxxxxxxx',  // Application Key\n               'xxxxxxxxxx',  // Application Secret\n               'ovh-eu',      // Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n               'xxxxxxxxxx'); // Consumer Key\n\n// Request body type: string\n$result = $ovh->post(\"/email/domain/delegatedAccount/{email}/filter/{name}/rule\", array(\n\theader => null, // Header to be filtered (type: string)\n\toperand => null, // Rule of filter (type: domain.DomainFilterOperandEnum)\n\tvalue => null, // Rule parameter of filter (type: string)\n));\n\nprint_r($result);\n?>"
          }
        ],
        "x-iam-actions": [
          {
            "name": "emailDomain:apiovh:delegatedAccount/filter/rule/create",
            "required": true
          }
        ]
      }
    },
    "/email/domain/delegatedAccount/{email}/filter/{name}/rule/{id}": {
      "delete": {
        "summary": "Delete an existing filter",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "name",
            "description": "Filter name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/email.domain.TaskFilter"
                  }
                }
              }
            }
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
        "x-code-samples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "'''\nFirst, install the latest release of Python wrapper: $ pip install ovh\n'''\nimport json\nimport ovh\n\n# Instantiate an OVH Client.\n# You can generate new credentials with full access to your account on\n# the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\nclient = ovh.Client(\n\tendpoint='ovh-eu',               # Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n\tapplication_key='xxxxxxxxxx',    # Application Key\n\tapplication_secret='xxxxxxxxxx', # Application Secret\n\tconsumer_key='xxxxxxxxxx',       # Consumer Key\n)\n\nresult = client.delete(\"/email/domain/delegatedAccount/{email}/filter/{name}/rule/{id}\")\n\n# Pretty print\nprint(json.dumps(result, indent=4))"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n/**\n * First, download the latest release of PHP wrapper on github\n * And include this script into the folder with extracted files\n */\nrequire __DIR__ . '/vendor/autoload.php';\nuse \\Ovh\\Api;\n\n/**\n * Instantiate an OVH Client.\n * You can generate new credentials with full access to your account on\n * the token creation page (https://api.ovh.com/createToken/index.cgi?GET=/*&PUT=/*&POST=/*&DELETE=/*)\n */\n$ovh = new Api('xxxxxxxxxx',  // Application Key\n               'xxxxxxxxxx',  // Application Secret\n               'ovh-eu',      // Endpoint of API OVH (List of available endpoints: https://github.com/ovh/python-ovh#2-configure-your-application)\n               'xxxxxxxxxx'); // Consumer Key\n\n$result = $ovh->delete(\"/email/domain/delegatedAccount/{email}/filter/{name}/rule/{id}\");\n\nprint_r($result);\n?>"
          }
        ],
        "x-iam-actions": [
          {
            "name": "emailDomain:apiovh:delegatedAccount/filter/rule/delete",
            "required": true
          }
        ]
      },
      "get": {
        "summary": "Get this object properties",
        "security": [
          {
            "oAuth2AuthCode": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "name",
            "description": "Filter name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/email.domain.Rule"
                }
              }
            }
          }
        },
        "x-badges": [
          {
            "color": "green",
            "label": "Stable production version"
          }
        ],
[...]
